<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS Cross Country Runner Bio</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/jumbotron-narrow.css">
    <link rel="stylesheet" href="/static/css/fixed-header.css">
    <style>
    .runnerResults p {
    	font-size:16px;
	}
    </style>
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script src="/static/js/utils.js"></script>
    <script>
    var rId = {{rId}};
    var urlParams = parseURL();
    var runnerId = rId ? rId : urlParams.rId

    $(function(){
        var xcHomeLink = $('<a>');
        $(xcHomeLink).attr('href', '/santa-clara-high-cross-country');
        $(xcHomeLink).text('SCHS Cross Country');
        $('.breadcrumb').append(xcHomeLink);
		$('.breadcrumb').append(' / ');
		var runnersLink = $('<a>');
		$(runnersLink).attr('href', '/santa-clara-high-cross-country/runners/');
		$(runnersLink).text('Runners');
		$('.breadcrumb').append(runnersLink);
		$('.breadcrumb').append(' / ');
    })
        
	$(function(){
		$.ajax({
			url: '/getXcRunnerResults',
			type: 'GET',
			data: {
				"runnerId": runnerId
			},
			success: function(res){
				var div = $('<div>')
				    .attr('class', 'list-group')
				    .append($('<a>')
				        .attr('class', 'list-group-item active')
				        .append($('<h4>')
				            .attr('class', 'list-group-item-heading'),
				            $('<p>')
				            .attr('class', 'list-group-item-text')));
				var div2 = $('<div>');
							    				
				var resultsObj = JSON.parse(res);
				var results = '';
				var currentGradeStr = '';
				var titleStr = '';
				var genderStr = '';
				var genderLinkStr = '';
				$.each(resultsObj,function(index, value){
					genderStr = value.GenderId == 2 ? 'Males' : 'Females';
					genderLinkStr = value.GenderId == 2 ? 'males' : 'females';
					titleStr = value.FirstName + ' ' + value.LastName;
					year = new Date(value.Date).getFullYear();

					var headerStr = value.Date + ' - ' + value.RaceName + ': ' + value.CourseName + ', ' + value.CourseDistance + 'M'
					headerStr += value.RaceCondition.localeCompare('unknown') ? ' *' + value.RaceCondition + '*' : ''
					var gradeStr = value.Grade == 0 ? 'Alumni' : value.Grade + 'th grade'
				    var timeStr = value.Time + ' (' + value.Pace + ') - ' + gradeStr;
				    if (currentGradeStr != gradeStr) {
				    	currentGradeStr = gradeStr;
				    	var resultsHeaderDiv = $('<h3>').attr('class', 'grade');
				    	if (value.Grade != 0) {
					    	var seasonLink = '/santa-clara-high-cross-country/season/' + year;
					    	var seasonDiv = $('<a>').attr('href', seasonLink).append(year + ' Season');
				    		resultsHeaderDiv.append(seasonDiv).append(' - ' + value.Grade + 'th Grade Results');
				    	} else {
					    	resultsHeaderDiv.append('Alumni Results');
				    	}
				    	$('.runnerResults').append(resultsHeaderDiv);
				    }
					results = $(div).clone();
					$(results).find('a').attr('href', '/xcRaceResults?raceId=' + value.RaceId);
					$(results).find('h4').text(headerStr);
					$(results).find('p').text(timeStr);
					$('.runnerResults').append(results);
				});
				var genderLink = $('<a>');
				$(genderLink).attr('href', '/santa-clara-high-cross-country/runners/' + genderLinkStr);
				$(genderLink).text(genderStr);
				$('.breadcrumb').append(genderLink);
				$('.breadcrumb').append(' / ' + titleStr);
				$('.text-muted').text(titleStr);
				$(document).ready(function() {
					document.title = titleStr + ' - ' + document.title;
				});
			},
			error: function(error){
				console.log(error);
			}
		});
	});
    </script>
  </head>
  <body>
    <div class="container">
{% include "/common/fh-nav-bc-title.html" %}
      <div class="non-fixed-content runnerResults marketing"></div>
{% include "/common/footer.html" %}
    </div>
  </body>
</html>

