<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS Cross Country Runners</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/jumbotron-narrow.css">
    <link rel="stylesheet" href="/static/css/fixed-header.css">
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script>
    var genderId = '{{gId}}';

	$(function(){
      var xcHomeLink = $('<a>');
      $(xcHomeLink).attr('href', '/santa-clara-high-cross-country');
      $(xcHomeLink).text('SCHS Cross Country');
      $('.breadcrumb').append(xcHomeLink);
	})

	$(function(){
		$.ajax({
			url: '/getXcRunners',
			type: 'GET',
			data: {
				"genderId": genderId,
			},
			success: function(res){							    				
				var resultsObj = JSON.parse(res);
				var count = resultsObj.length;
				var countRight = count / 2;
				var titleStr = (genderId && genderId == '3') ? 'Female' : ((genderId && genderId == '2') ? 'Male': '');
				$('.text-muted').text('SCHS Cross Country ' + titleStr + ' Runners (' + count + ')');
				$.each(resultsObj,function(index, value){
				    var nameStr = value.LastName + ', ' + value.FirstName + ' ... ' + value.Years
				    var link = "/xcRunner?rId=" + value.RunnerId
				    if (index < countRight) {
				    	$('.runnersLeft').append("<div><a href='" + link + "'>" + nameStr + "</a></div>");
				    } else {
				    	$('.runnersRight').append("<div><a href='" + link + "'>" + nameStr + "</a></div>");
				    }
				});
				if (genderId == '2' || genderId == '3') {
					$('.breadcrumb').append(' / ');
					var athletesLink = $('<a>');
					$(athletesLink).attr('href', '/santa-clara-high-cross-country/runners/');
					$(athletesLink).text('Runners');
					$('.breadcrumb').append(athletesLink);
				} else {
					var girlsLink = $('<a>');
					$(girlsLink).attr('href', '/santa-clara-high-cross-country/runners/females');
					$(girlsLink).text('Females');
					$('.filter').append(girlsLink);
					$('.filter').append(' | ');
					var boysLink = $('<a>');
					$(boysLink).attr('href', '/santa-clara-high-cross-country/runners/males');
					$(boysLink).text('Males');
					$('.filter').append(boysLink);
				}
				var breadcrumbStr = (genderId && genderId == '3') ? 'Females' : ((genderId && genderId == '2') ? 'Males': 'Runners');
				$('.breadcrumb').append(' / ' + breadcrumbStr);
			},
			error: function(error){
				console.log(error);
			}
		});
	});
    </script>
  </head>
  <body>
    <div class="container">
{% include "/common/fh-nav-bc-title-filter.html" %}
      <div class="non-fixed-content-bcf row">
        <div class="col-xs-6">
          <p class=runnersLeft></p>
        </div>
        <div class="col-xs-6">
          <p class=runnersRight></p>
        </div>
      </div>
{% include "/common/footer.html" %}
    </div>
  </body>
</html>

