<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS XC Runner Bio</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/jumbotron-narrow.css">
    <link rel="stylesheet" href="/static/css/signup.css">
    <style>
    .runnerResults p {
    	font-size:16px;
	}
    </style>
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script src="/static/js/utils.js"></script>
    <script>
    var rId = {{rId}};
    var urlParams = parseURL();
    var runnerId = rId ? rId : urlParams.rId
        
	$(function(){
		$.ajax({
			url: '/getXcRunnerResults',
			type: 'GET',
			data: {
				"runnerId": runnerId
			},
			success: function(res){
				var div = $('<div>')
				    .attr('class', 'list-group')
				    .append($('<a>')
				        .attr('class', 'list-group-item active')
				        .append($('<h4>')
				            .attr('class', 'list-group-item-heading'),
				            $('<p>')
				            .attr('class', 'list-group-item-text')));
				var div2 = $('<div>');
							    				
				var resultsObj = JSON.parse(res);
				var results = '';
				var fullName = '';
				var currentGradeStr = '';
				$.each(resultsObj,function(index, value){
					fullName = value.FirstName + ' ' + value.LastName
					var headerStr = value.Date + ' - ' + value.RaceName + ': ' + value.CourseName + ', ' + value.CourseDistance + 'M'
					headerStr += value.RaceCondition.localeCompare('unknown') ? ' *' + value.RaceCondition + '*' : ''
					var gradeStr = value.Grade == 0 ? 'Alumni' : value.Grade + 'th grade'
				    var timeStr = value.Time + ' (' + value.Pace + ') - ' + gradeStr;
				    if (currentGradeStr != gradeStr) {
				    	currentGradeStr = gradeStr;
				    	var resultsHeaderDisplayStr = 'Alumni Results'
				    	if (value.Grade != 0) {
				    		resultsHeaderDisplayStr = value.Grade + 'th Grade Results - ' 
				    			+ new Date(value.Date).getFullYear() + ' Season'
				    	}
				    	var resultsHeaderDiv = "<div><h3 class=\"grade\">" + resultsHeaderDisplayStr + "</h3></div>"
				    	$('.runnerResults').append(resultsHeaderDiv);

				    }
					results = $(div).clone();
					$(results).find('a').attr('href', '/xcRaceResults?raceId=' + value.RaceId);
					$(results).find('h4').text(headerStr);
					$(results).find('p').text(timeStr);
					$('.runnerResults').append(results);
				});
				$('.text-muted').text(fullName);
				$(document).ready(function() {
					document.title = fullName + ' - ' + document.title;
				});
			},
			error: function(error){
				console.log(error);
			}
		});
	});
    </script>
  </head>
  <body>
    <div class="container">
{% include "nav.html" %}
      <div>
        <h3 class="text-muted"></h3>
      </div>
      <div class="runnerResults"></div>
{% include "footer.html" %}
    </div>
  </body>
</html>

