<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS Running: Quickies</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/jumbotron-narrow.css">
    <link rel="stylesheet" href="/static/css/fixed-header.css">
    <link rel="stylesheet" href="/static/css/dropdown.css">
    <link rel="stylesheet" href="/static/css/quickies.css">
    <link rel="stylesheet" href="/static/css/back-to-top.css">
	<a href="#top" id="back-to-top" class="back-to-top" style="display: inline;">Top</a>
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script src="/static/js/back-to-top.js"></script>
    <script src="/static/js/quickies.js"></script>
    <script>
    var bodySplitIds = '{{bsIds}}';
    var quickieLevels = '{{qLevels}}';

	$(function(){
		var workoutsHomeLink = $('<a>');
		$(workoutsHomeLink).attr('href', '/workouts');
		$(workoutsHomeLink).text('Workouts');
		$('.breadcrumb').append(workoutsHomeLink);
		$('.breadcrumb').append(' / ');
	})

	$.get("/workouts/quickies/dropdown-menus", function(data){
	    $(".dropdown-list").append(data);
	});

	$(function(){
		$.ajax({
			url: '/getQuickies',
			type: 'GET',
			data: {
				"bodySplitIds": bodySplitIds,
				"quickieLevels": quickieLevels,
			},
			success: function(res){							    				
				var resultsObj = JSON.parse(res);
				var allQuickies = true;
				var bodySplit = '';
				var levelName = '';
				$.each(resultsObj,function(index, value){
	                allQuickies = value.All;
	                bodySplit = value.BodySplit;
	                levelName = $.fn.getLevelName(value.QuickieLevel);
	                var quickieName = value.QuickieName;	                
	                var reps1 = value.Reps1;
	                var exerciseName1 = value.ExerciseName1;
	                var youTubeId1 = value.YouTubeId1;
	                var reps2 = value.Reps2;
	                var exerciseName2 = value.ExerciseName2;
	                var youTubeId2 = value.YouTubeId2;
	                var reps3 = value.Reps3;
	                var exerciseName3 = value.ExerciseName3;
	                var youTubeId3 = value.YouTubeId3;
	                var reps4 = value.Reps4;
	                var exerciseName4 = value.ExerciseName4;
	                var youTubeId4 = value.YouTubeId4;
                	$.fn.addQuickie($.fn.createQuickie(
                		quickieName, reps1, exerciseName1, youTubeId1, reps2, exerciseName2, youTubeId2,
                		reps3, exerciseName3, youTubeId3, reps4, exerciseName4, youTubeId4, levelName, bodySplit
                	));
				});
				$.fn.setTitle(allQuickies, levelName, bodySplit, resultsObj.length)
			},
			error: function(error){
				console.log(error);
			}
		});
	});

	$.fn.setTitle = function(allQuickies, levelName, bodySplit, numResults) {
		var titleStr = 'Quickies';
		if (allQuickies) {
			$('.breadcrumb').append(titleStr);
		} else {
			$('.breadcrumb').append($('<a>').attr('href', '/workouts/quickies/').text(titleStr));
			if (quickieLevels != 'all') {
				if (bodySplitIds != 'all') {
					$('.breadcrumb').append(' / ');
					var bodySplitLink = bodySplit.toLowerCase().replace(' ', '-');
					$('.breadcrumb').append($('<a>').attr('href', '/workouts/quickies/'+bodySplitLink).text(bodySplit));
					titleStr = levelName + ' | ' + bodySplit + ' ' + titleStr;
				} else {
					titleStr = levelName + ' ' + titleStr;
				}
				$('.breadcrumb').append(' / ' + levelName);
			} else {
				$('.breadcrumb').append(' / ' + bodySplit);
				titleStr = bodySplit + ' ' + titleStr;
			}
		}
		$('.text-muted').append(titleStr + ' (' + numResults + ')');
	}
    </script>
  </head>
  <body>
    <div class="container">
{% include "/common/fh-nav-bc-title-dd.html" %}
	  <div class="non-fixed-content-bcdd quickies"></div>
{% include "/common/footer.html" %}
    </div>
  </body>
</html>

