	  <div class="dropdown" onclick="void(0)">
	    <span class="dropbtn">All &#9660;</span>
	    <div class="dropdown-content">
          <div class="dropdown-indent2"><a href="/workouts/quickies/beginner">Beginner</a></div>
          <div class="dropdown-indent2"><a href="/workouts/quickies/intermediate">Intermediate</a></div>
          <div class="dropdown-indent2"><a href="/workouts/quickies/advanced">Advanced</a></div>
          <div class="dropdown-indent2"><a href="/workouts/quickies/expert">Expert</a></div>
          <div class="dropdown-indent2"><a href="/workouts/quickies/master">Master</a></div>
	    </div>
	  </div>
	  <div class="dropdown" onclick="void(0)">
	    <span class="dropbtn">Core &#9660;</span>
	    <div class="dropdown-content">
          <div class="dropdown-indent2"><a href="/workouts/quickies/core">All</a></div>
          <div class="dropdown-indent2"><a href="/workouts/quickies/core/beginner">Beginner</a></div>
          <div class="dropdown-indent2"><a href="/workouts/quickies/core/intermediate">Intermediate</a></div>
          <div class="dropdown-indent2"><a href="/workouts/quickies/core/advanced">Advanced</a></div>
          <div class="dropdown-indent2"><a href="/workouts/quickies/core/expert">Expert</a></div>
          <div class="dropdown-indent2"><a href="/workouts/quickies/core/master">Master</a></div>
	    </div>
	  </div>
	  <div class="dropdown" onclick="void(0)">
	    <span class="dropbtn">Total Body &#9660;</span>
	    <div class="dropdown-content">
          <div class="dropdown-indent2"><a href="/workouts/quickies/total-body">All</a></div>
          <div class="dropdown-indent2"><a href="/workouts/quickies/total-body/beginner">Beginner</a></div>
          <div class="dropdown-indent2"><a href="/workouts/quickies/total-body/intermediate">Intermediate</a></div>
          <!--div class="dropdown-indent2"><a href="/workouts/quickies/total-body/advanced">Advanced</a></div-->
          <div class="dropdown-indent2"><a href="/workouts/quickies/total-body/expert">Expert</a></div>
          <div class="dropdown-indent2"><a href="/workouts/quickies/total-body/master">Master</a></div>
	    </div>
	  </div>
	  <div class="dropdown" onclick="void(0)">
	    <span class="dropbtn">Upper Body &#9660;</span>
	    <div class="dropdown-content">
          <div class="dropdown-indent2"><a href="/workouts/quickies/upper-body">All</a></div>
          <div class="dropdown-indent2"><a href="/workouts/quickies/upper-body/beginner">Beginner</a></div>
          <!--div class="dropdown-indent2"><a href="/workouts/quickies/upper-body/intermediate">Intermediate</a></div-->
          <div class="dropdown-indent2"><a href="/workouts/quickies/upper-body/advanced">Advanced</a></div>
          <div class="dropdown-indent2"><a href="/workouts/quickies/upper-body/expert">Expert</a></div>
          <div class="dropdown-indent2"><a href="/workouts/quickies/upper-body/master">Master</a></div>
	    </div>
	  </div>
	  <div class="dropdown" onclick="void(0)">
	    <span class="dropbtn">Lower Body &#9660;</span>
	    <div class="dropdown-content">
          <div class="dropdown-indent2"><a href="/workouts/quickies/lower-body">All</a></div>
          <div class="dropdown-indent2"><a href="/workouts/quickies/lower-body/beginner">Beginner</a></div>
          <div class="dropdown-indent2"><a href="/workouts/quickies/lower-body/intermediate">Intermediate</a></div>
          <div class="dropdown-indent2"><a href="/workouts/quickies/lower-body/advanced">Advanced</a></div>
          <div class="dropdown-indent2"><a href="/workouts/quickies/lower-body/expert">Expert</a></div>
          <!--div class="dropdown-indent2"><a href="/workouts/quickies/lower-body/master">Master</a></div-->
	    </div>
	  </div>
