<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS Cross Country</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/jumbotron-narrow.css">
    <link rel="stylesheet" href="/static/css/fixed-header.css">
  </head>
  <body>
    <div class="container">
      <div class="fixed-header">
{% include "/common/nav_active_xc.html" %}
        <div>
          <h3 class="text-muted">Santa Clara High School Cross Country</h3>
        </div>
      </div>
      <div class="non-fixed-content">
        <div class="jumbotron">
          <p><img src="/static/Uploads/schs_xc_2018_league_team_1.jpg" alt="SCHS XC 2018 SCVAL League Meet" width="550"></p>
        </div>
        <div class="row marketing">
          <div class="col-xs-6">
            <h4 style="color:red">Latest Updates</h4>
            <p>
              <div>&raquo; 12/12/21 - added <a href="/santa-clara-high-cross-country/season/2021">2021 XC Season</a></div>
              <div>&raquo; 12/01/21 - added <a href="/santa-clara-high-cross-country/season/2019">2019 XC Season</a></div>
            <!--
              <div>&raquo; 07/13/19 - added <a href="/santa-clara-high-cross-country/race-results/8th-annual-crystal-springs-alumni-race-2019/">results</a> and a <a href="/santa-clara-high-cross-country/videos/crystal-springs-alumni-race/">photo montage</a> for the 8th Annual <a href="/santa-clara-high-cross-country/crystal-springs-alumni-race/">XC Alumni Race</a></div>
              <div>&raquo; 04/22/19 - improve site navigation</div>
              <div>&raquo; 12/12/18 - added <a href="/santa-clara-high-cross-country/special-achievements/">XC Special Achievements</a></div>
              <div>&raquo; 12/09/18 - added <a href="/santa-clara-high-cross-country/season/2018">2018 XC Awards</a> + <a href="xcPhotosTeamTimeline">team photo</a></div>
              <div>&raquo; 10/24/18 - added <a href="/santa-clara-high-cross-country/season/2018">2018 XC Season</a></div>
            -->
            </p>
            <h4><a href="/santa-clara-high-cross-country/runners/">XC Results by Runner</a></h4>
            <p>
            	<h5>Boys</h5>
              <div>
            	  <a href="/santa-clara-high-cross-country/runners/girmay-guangul">Girmay Guangul</a>, 
            	  <a href="/santa-clara-high-cross-country/runners/vince-rodriguez">Vince Rodriguez</a>, 
            	  <a href="/santa-clara-high-cross-country/runners/kindu-ejigu">Kindu Ejigu</a>, 
            	  <a href="/santa-clara-high-cross-country/runners/lenin-zapata">Lenin Zapata</a>,
                <a href="/santa-clara-high-cross-country/runners/rick-duenas">Rick Dueñas</a>,
            	  <a href="/santa-clara-high-cross-country/runners/cal-ochoa">Cal Ochoa</a> ...
            	  <a href="/santa-clara-high-cross-country/runners/males">All Boys</a>
            	</div>
            	<div>&nbsp;</div>
            	<h5>Girls</h5>
              <div>
            	  <a href="/santa-clara-high-cross-country/runners/bita-manesh">Bita Manesh</a>, 
            	  <a href="/santa-clara-high-cross-country/runners/rachel-newman">Rachel Newman</a>, 
            	  <a href="/santa-clara-high-cross-country/runners/sophia-kennedy">Sophia Kennedy</a>, 
                <a href="/santa-clara-high-cross-country/runners/regan-dyer">Regan Dyer</a>, 
            	  <a href="/santa-clara-high-cross-country/runners/ingrid-lacy">Ingrid Lacy</a>,
            	  <a href="/santa-clara-high-cross-country/runners/abby-olsen">Abby Olsen</a> ...
            	  <a href="/santa-clara-high-cross-country/runners/females">All Girls</a>
            	</div>
            </p>
            <h4>XC Seasons</h4>
            <p>
              <a href="/santa-clara-high-cross-country/season/2019">2019</a>, 
              <a href="/santa-clara-high-cross-country/season/2018">2018</a>, 
              <a href="/santa-clara-high-cross-country/season/2017">2017</a>, 
              <a href="/santa-clara-high-cross-country/season/2016">2016</a>, 
              <a href="/santa-clara-high-cross-country/season/2015">2015</a>, 
              <a href="/santa-clara-high-cross-country/season/2014">2014</a>, 
              <a href="/santa-clara-high-cross-country/season/2013">2013</a>, 
              <a href="/santa-clara-high-cross-country/season/2012">2012</a>, 
              <a href="/santa-clara-high-cross-country/season/2011">2011</a>, 
              <a href="/santa-clara-high-cross-country/season/2010">2010</a>, 
              <a href="/santa-clara-high-cross-country/season/2009">2009</a>, 
              <a href="/santa-clara-high-cross-country/season/2008">2008</a>, 
              <a href="/santa-clara-high-cross-country/season/2007">2007</a>, 
              <a href="/santa-clara-high-cross-country/season/2006">2006</a>, 
              <a href="/santa-clara-high-cross-country/season/2005">2005</a>, 
              <a href="/santa-clara-high-cross-country/season/2004">2004</a>, 
              <a href="/santa-clara-high-cross-country/season/2003">2003</a>, 
              <a href="/santa-clara-high-cross-country/season/2002">2002</a>, 
              <a href="/santa-clara-high-cross-country/season/2001">2001</a>, 
              <a href="/santa-clara-high-cross-country/season/2000">2000</a>, 
              <a href="/santa-clara-high-cross-country/season/1999">1999</a>, 
              <a href="/santa-clara-high-cross-country/season/1998">1998</a>, 
              <a href="/santa-clara-high-cross-country/season/1997">1997</a>, 
              <a href="/santa-clara-high-cross-country/season/1996">1996</a>, 
              <a href="/santa-clara-high-cross-country/season/1995">1995</a>, 
              <a href="/santa-clara-high-cross-country/season/1994">1994</a>, 
              <a href="/santa-clara-high-cross-country/season/1993">1993</a>, 
              <a href="/santa-clara-high-cross-country/season/1992">1992</a>, 
              <a href="/santa-clara-high-cross-country/season/1991">1991</a>, 
              <a href="/santa-clara-high-cross-country/season/1988">1988</a>
            </p>
            <h4><a href="/santa-clara-high-cross-country/coaches/">XC Coaches</a></h4>
            <p>
              <div>
                &raquo; <a href="/santa-clara-high-cross-country/coaches/timeline">Timeline</a>
              </div>
              <div>
                &raquo; 
              	<a href="/santa-clara-high-cross-country/coaches/julie-lheureux">Julie L'Heureux</a>, 
              	<a href="/santa-clara-high-cross-country/coaches/cal-ochoa">Cal Ochoa</a>, 
              	<a href="/santa-clara-high-cross-country/coaches/jamie-vierling">Jamie Vierling</a>, 
              	<a href="/santa-clara-high-cross-country/coaches/mario-bouza">Mario Bouza</a> ...
              	<a href="/santa-clara-high-cross-country/coaches/">All Coaches</a>
              </div>
            </p>
            <h4><a href="/santa-clara-high-cross-country/special-achievements/">XC Special Achievements</a></h4>
            <p>
              <div>&raquo; <a href="/santa-clara-high-cross-country/special-achievements/state-qualifiers">State Qualifiers</a></div>
              <div>&raquo; <a href="/santa-clara-high-cross-country/special-achievements/section-champions">CCS Champions</a></div>
              <div>&raquo; <a href="/santa-clara-high-cross-country/special-achievements/league-champions">League Champions</a></div>
            </p>
            <h4><a href="/santa-clara-high-cross-country/awards/">XC Awards</a></h4>
            <p>
              <div>&raquo; <a href="/santa-clara-high-cross-country/awards/timeline/">Timeline</a></div>
              <div>&raquo; <a href="/santa-clara-high-cross-country/awards/most-valuable-runner/">Most Valuable Runner</a></div>
              <div>&raquo; <a href="/santa-clara-high-cross-country/awards/most-improved/">Most Improved</a></div>
            </p>
            <p>&nbsp;</p>
          </div>
          <div class="col-xs-6">
            <h4><a href="/santa-clara-high-cross-country/course-results/top-individual">XC Top 25 Individual List</a></h4>
            <p>
              <h5>All Time Boys:</h5>
            	<div>&raquo; <a href="/santa-clara-high-cross-country/course-results/top-25-all-time-boys-crystal-springs">Crystal Springs</a></div>
              <div>&raquo; <a href="/santa-clara-high-cross-country/course-results/top-25-all-time-boys-toro-park">Toro Park</a></div>
              <div>&raquo; <a href="/santa-clara-high-cross-country/course-results/top-25-all-time-boys-central-park">Central Park</a></div>
              <div>&raquo; <a href="/santa-clara-high-cross-country/course-results/top-25-all-time-boys-baylands-park">Baylands Park</a></div>
              <div>&raquo; <a href="/santa-clara-high-cross-country/course-results/top-25-all-time-boys-lynbrook-high-school">Lynbrook High School</a></div>
            </p>
            <p>
              <h5>All Time Girls:</h5>
              <div>&raquo; <a href="/santa-clara-high-cross-country/course-results/top-25-all-time-girls-crystal-springs">Crystal Springs</a></div>
              <div>&raquo; <a href="/santa-clara-high-cross-country/course-results/top-25-all-time-girls-toro-park">Toro Park</a></div>
              <div>&raquo; <a href="/santa-clara-high-cross-country/course-results/top-25-all-time-girls-central-park">Central Park</a></div>
              <div>&raquo; <a href="/santa-clara-high-cross-country/course-results/top-25-all-time-girls-baylands-park">Baylands Park</a></div>
              <div>&raquo; <a href="/santa-clara-high-cross-country/course-results/top-25-all-time-girls-lynbrook-high-school">Lynbrook High School</a></div>
            </p>
            <h4><a href="/santa-clara-high-cross-country/course-results/top-team">XC Top 15 Team List</a></h4>
            <p>
              <h5>All Time Boys Teams:</h5>
              <div>&raquo; <a href="/santa-clara-high-cross-country/course-results/top-15-all-time-team-boys-crystal-springs">Crystal Springs</a></div>
              <div>&raquo; <a href="/santa-clara-high-cross-country/course-results/top-15-all-time-team-boys-toro-park">Toro Park</a></div>
              <div>&raquo; <a href="/santa-clara-high-cross-country/course-results/top-15-all-time-team-boys-central-park">Central Park</a></div>
              <div>&raquo; <a href="/santa-clara-high-cross-country/course-results/top-15-all-time-team-boys-baylands-park">Baylands Park</a></div>
            </p>
            <p>
              <h5>All Time Girls Teams:</h5>
            	<div>&raquo; <a href="/santa-clara-high-cross-country/course-results/top-15-all-time-team-girls-crystal-springs">Crystal Springs</a></div>
              <div>&raquo; <a href="/santa-clara-high-cross-country/course-results/top-15-all-time-team-girls-toro-park">Toro Park</a></div>
              <div>&raquo; <a href="/santa-clara-high-cross-country/course-results/top-15-all-time-team-girls-central-park">Central Park</a></div>
              <div>&raquo; <a href="/santa-clara-high-cross-country/course-results/top-15-all-time-team-girls-baylands-park">Baylands Park</a></div>
            </p>
            <h4><a href="/santa-clara-high-cross-country/crystal-springs-alumni-race/">XC Alumni Race</a></h4>
            <p>
            	<div>&raquo; 
                <a href="/santa-clara-high-cross-country/race-results/8th-annual-crystal-springs-alumni-race-2019/">2019</a>, 
                <a href="/santa-clara-high-cross-country/race-results/7th-annual-crystal-springs-alumni-race-2018/">2018</a>, 
                <a href="/santa-clara-high-cross-country/race-results/6th-annual-crystal-springs-alumni-race-2017/">2017</a>, 
  	          	<a href="/santa-clara-high-cross-country/race-results/5th-annual-crystal-springs-alumni-race-2016/">2016</a>, 
  	          	<a href="/santa-clara-high-cross-country/race-results/4th-annual-crystal-springs-alumni-race-2015/">2015</a>, 
  	          	<a href="/santa-clara-high-cross-country/race-results/3rd-annual-crystal-springs-alumni-race-2014/">2014</a>, 
  	          	<a href="/santa-clara-high-cross-country/race-results/2nd-annual-crystal-springs-alumni-race-2013/">2013</a>, 
  	          	<a href="/santa-clara-high-cross-country/race-results/1st-annual-crystal-springs-alumni-race-2012/">2012</a>
            	</div>
              <div>
                &raquo; <a href="/santa-clara-high-cross-country/special-achievements/past-crystal-springs-alumni-race-champions">Past Alumni Champions</a>
              </div>
            	<div>
            		&raquo; <a href="/santa-clara-high-cross-country/photos/crystal-springs-alumni-race/">Photos</a> + <a href="/santa-clara-high-cross-country/videos/crystal-springs-alumni-race/">Videos</a>
                </div>
            </p>
            <h4><a href="/santa-clara-high-cross-country/photos/">XC Photos</a></h4>
            <p>
              <div>&raquo; <a href="/santa-clara-high-cross-country/photos/team-timeline/">Team Timeline</a></div>
              <div>&raquo; <a href="/santa-clara-high-cross-country/photos/crystal-springs-alumni-race/">Crystal Springs Alumni Race</a></div>
            </p>
            <h4><a href="/santa-clara-high-cross-country/videos/">XC Videos</a></h4>
            <p>
              <div>&raquo; <a href="/santa-clara-high-cross-country/videos/crystal-springs-alumni-race/">Crystal Springs Alumni Race</a></div>
            </p>
          </div>
        </div>
      </div>
{% include "/common/footer.html" %}
    </div>
  </body>
</html>