<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS Running</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">   
  </head>
  <body>
    <div class="container">
{% include "nav_active_xc.html" %}
      <div>
        <h3 class="text-muted">Santa Clara High School Cross Country</h3>
      </div>
      <div class="jumbotron">
        <p><img src="static/Uploads/schs_xc_2018_league_team_1.jpg" alt="SCHS XC 2018 SCVAL League Meet" width="550"></p>
      </div>
      <div class="row marketing">
        <div class="col-lg-6">
          <h4 style="color:red">Latest Updates</h4>
          <p>
            <div>&raquo; 12/12/18 - added <a href="xcAllSpecialAchievements">XC Special Achievements</a></div>
            <div>&raquo; 12/09/18 - added <a href="xcSeason?yr=2018">2018 XC Awards</a> + <a href="xcPhotosTeamTimeline">team photo</a></div>
            <div>&raquo; 10/24/18 - added <a href="xcSeason?yr=2018">2018 XC Season</a></div>
          </p>
          <h4>XC Results by Runner</h4>
          <p>
          	<div>Boys: 
          	  <a href="xcRunner?rId=1000261">Girmay Guangul</a>, 
          	  <a href="xcRunner?rId=1000259">Vince Rodriguez</a>, 
          	  <a href="xcRunner?rId=1000179">Kindu Ejigu</a>, 
          	  <a href="xcRunner?rId=1000193">Lenin Zapata</a>,
              <a href="xcRunner?rId=1000300">Rick Dueñas</a>,
          	  <a href="xcRunner?rId=1">Cal Ochoa</a> ...
          	  <a href="xcMRunners">All Boys</a>
          	</div>
          	<div>&nbsp;</div>
          	<div>Girls: 
          	  <a href="xcRunner?rId=1000154">Bita Manesh</a>, 
          	  <a href="xcRunner?rId=1000247">Rachel Newman</a>, 
          	  <a href="xcRunner?rId=1000254">Sophia Kennedy</a>, 
              <a href="xcRunner?rId=1000182">Regan Dyer</a>, 
          	  <a href="xcRunner?rId=1000316">Ingrid Lacy</a>,               
          	  <a href="xcRunner?rId=1000166">Abby Olsen</a> ...
          	  <a href="xcFRunners">All Girls</a>
          	</div>
          </p>
          <h4>XC Seasons</h4>
          <p>
            <a href="xcSeason?yr=2018">2018</a>, 
            <a href="xcSeason?yr=2017">2017</a>, 
            <a href="xcSeason?yr=2016">2016</a>, 
            <a href="xcSeason?yr=2015">2015</a>, 
            <a href="xcSeason?yr=2014">2014</a>, 
            <a href="xcSeason?yr=2013">2013</a>, 
            <a href="xcSeason?yr=2012">2012</a>, 
            <a href="xcSeason?yr=2011">2011</a>, 
            <a href="xcSeason?yr=2010">2010</a>, 
            <a href="xcSeason?yr=2009">2009</a>, 
            <a href="xcSeason?yr=2008">2008</a>, 
            <a href="xcSeason?yr=2007">2007</a>, 
            <a href="xcSeason?yr=2006">2006</a>, 
            <a href="xcSeason?yr=2005">2005</a>, 
            <a href="xcSeason?yr=2004">2004</a>, 
            <a href="xcSeason?yr=2003">2003</a>, 
            <a href="xcSeason?yr=2002">2002</a>, 
            <a href="xcSeason?yr=2001">2001</a>, 
            <a href="xcSeason?yr=2000">2000</a>, 
            <a href="xcSeason?yr=1999">1999</a>, 
            <a href="xcSeason?yr=1998">1998</a>, 
            <a href="xcSeason?yr=1997">1997</a>, 
            <a href="xcSeason?yr=1996">1996</a>, 
            <a href="xcSeason?yr=1995">1995</a>, 
            <a href="xcSeason?yr=1994">1994</a>, 
            <a href="xcSeason?yr=1993">1993</a>, 
            <a href="xcSeason?yr=1992">1992</a>, 
            <a href="xcSeason?yr=1991">1991</a>, 
            <a href="xcSeason?yr=1988">1988</a>
          </p>
          <h4>XC Coaches</h4>
          <p>
          	<a href="xcCoachTimeline">Timeline</a>, 
          	<a href="xcCoach?coachId=1">Julie L'Heureux</a>, 
          	<a href="xcCoach?coachId=2">Cal Ochoa</a>, 
          	<a href="xcCoach?coachId=6">Jamie Vierling</a>, 
          	<a href="xcCoach?coachId=7">Mario Bouza</a> ...
          	<a href="xcCoaches">All Coaches</a>
          </p>
          <h4>XC Special Achievements</h4>
          <p>
            <a href="xcAllSpecialAchievements">All</a>, 
            <a href="xcStateQualifiers">State Qualifiers</a>,
            <a href="xcSectionChampions">CCS Champions</a>,
            <a href="xcLeagueChampions">League Champions</a> 
          </p>
          <h4>XC Awards</h4>
          <p>
            <div>Timeline: 
          	  <a href="xcAwardsTimeline?squadId=0">All</a>,
          	  <a href="xcAwardsTimeline?squadId=1">VG</a>,
          	  <a href="xcAwardsTimeline?squadId=2">VB</a>,
          	  <a href="xcAwardsTimeline?squadId=3">JVG</a>,
          	  <a href="xcAwardsTimeline?squadId=4">FSB</a>
          	</div>
            <div>Most Valuable Runner: 
          	  <a href="xcAward?awardId=0&squadId=0">All</a>,
          	  <a href="xcAward?awardId=0&squadId=1">VG</a>,
          	  <a href="xcAward?awardId=0&squadId=2">VB</a>,
          	  <a href="xcAward?awardId=0&squadId=3">JVG</a>,
          	  <a href="xcAward?awardId=0&squadId=4">FSB</a>
          	</div>
            <div>Most Improved: 
          	  <a href="xcAward?awardId=3&squadId=0">All</a>,
          	  <a href="xcAward?awardId=3&squadId=1">VG</a>,
          	  <a href="xcAward?awardId=3&squadId=2">VB</a>,
          	  <a href="xcAward?awardId=3&squadId=3">JVG</a>,
          	  <a href="xcAward?awardId=3&squadId=4">FSB</a>
          	</div>
          </p>
          <h4>XC Photos</h4>
          <p>
          	<a href="xcPhotosTeamTimeline">Team Timeline</a>, 
          	<a href="xcPhotosCsAlumniRace">Crystal Springs Alumni Race</a>
          </p>
          <p>&nbsp;</p>
        </div>
        <div class="col-lg-6">
          <h4>XC Top 25 Individual List</h4>
          <p>
          	<div>Crystal Springs: </div>
          	<div>&raquo; Boys: 
              <a href="xcTop25CsBoys">All Time</a>,
              <a href="xcTopCourseResults?cId=1&gId=2&limit=25&grade=12">Senior</a>,
              <a href="xcTopCourseResults?cId=1&gId=2&limit=25&grade=11">Junior</a>,
              <a href="xcTopCourseResults?cId=1&gId=2&limit=25&grade=10">Soph</a>,
              <a href="xcTopCourseResults?cId=1&gId=2&limit=25&grade=9">Frosh</a>
            </div>
            <div>&raquo; Girls: 
              <a href="xcTop25CsGirls">All Time</a>,
              <a href="xcTopCourseResults?cId=1&gId=3&limit=25&grade=12">Senior</a>,
              <a href="xcTopCourseResults?cId=1&gId=3&limit=25&grade=11">Junior</a>,
              <a href="xcTopCourseResults?cId=1&gId=3&limit=25&grade=10">Soph</a>,
              <a href="xcTopCourseResults?cId=1&gId=3&limit=25&grade=9">Frosh</a>
            </div>
            <div>&nbsp;</div>
            <div>Toro Park: </div>
            <div>&raquo; Boys: 
              <a href="xcTop25TpBoys">All Time</a>,
              <a href="xcTopCourseResults?cId=2&gId=2&limit=25&grade=12">Senior</a>,
              <a href="xcTopCourseResults?cId=2&gId=2&limit=25&grade=11">Junior</a>,
              <a href="xcTopCourseResults?cId=2&gId=2&limit=25&grade=10">Soph</a>,
              <a href="xcTopCourseResults?cId=2&gId=2&limit=25&grade=9">Frosh</a>
            </div>
            <div>&raquo; Girls: 
              <a href="xcTop25TpGirls">All Time</a>,
              <a href="xcTopCourseResults?cId=2&gId=3&limit=25&grade=12">Senior</a>,
              <a href="xcTopCourseResults?cId=2&gId=3&limit=25&grade=11">Junior</a>,
              <a href="xcTopCourseResults?cId=2&gId=3&limit=25&grade=10">Soph</a>,
              <a href="xcTopCourseResults?cId=2&gId=3&limit=25&grade=9">Frosh</a>
            </div>
            <div>&nbsp;</div>
            <div>Central Park: </div>
            <div>&raquo; Boys: 
              <a href="xcTop25CpBoys">All Time</a>,
              <a href="xcTopCourseResults?cId=6&gId=2&limit=25&grade=12">Senior</a>,
              <a href="xcTopCourseResults?cId=6&gId=2&limit=25&grade=11">Junior</a>,
              <a href="xcTopCourseResults?cId=6&gId=2&limit=25&grade=10">Soph</a>,
              <a href="xcTopCourseResults?cId=6&gId=2&limit=25&grade=9">Frosh</a>
            </div>
            <div>&raquo; Girls: 
              <a href="xcTop25CpGirls">All Time</a>,
              <a href="xcTopCourseResults?cId=6&gId=3&limit=25&grade=12">Senior</a>,
              <a href="xcTopCourseResults?cId=6&gId=3&limit=25&grade=11">Junior</a>,
              <a href="xcTopCourseResults?cId=6&gId=3&limit=25&grade=10">Soph</a>,
              <a href="xcTopCourseResults?cId=6&gId=3&limit=25&grade=9">Frosh</a>
            </div>
            <div>&nbsp;</div>
            <div>Baylands Park: </div>
            <div>&raquo; Boys: 
              <a href="xcTop25BpBoys">All Time</a>,
              <a href="xcTopCourseResults?cId=4&gId=2&limit=25&grade=12">Senior</a>,
              <a href="xcTopCourseResults?cId=4&gId=2&limit=25&grade=11">Junior</a>,
              <a href="xcTopCourseResults?cId=4&gId=2&limit=25&grade=10">Soph</a>,
              <a href="xcTopCourseResults?cId=4&gId=2&limit=25&grade=9">Frosh</a>
            </div>
            <div>&raquo; Girls: 
              <a href="xcTop25BpGirls">All Time</a>,
              <a href="xcTopCourseResults?cId=4&gId=3&limit=25&grade=12">Senior</a>,
              <a href="xcTopCourseResults?cId=4&gId=3&limit=25&grade=11">Junior</a>,
              <a href="xcTopCourseResults?cId=4&gId=3&limit=25&grade=10">Soph</a>,
              <a href="xcTopCourseResults?cId=4&gId=3&limit=25&grade=9">Frosh</a>
            </div>
            <div>&nbsp;</div>
            <div><a name="xcTop25LynHs"></a>Lynbrook High School: </div>
            <div>&raquo; Boys: 
              <a href="xcTop25LynHsBoys">All Time</a>,
              <a href="xcTopCourseResults?cId=25&gId=2&limit=25&grade=12">Senior</a>,
              <a href="xcTopCourseResults?cId=25&gId=2&limit=25&grade=11">Junior</a>,
              <a href="xcTopCourseResults?cId=25&gId=2&limit=25&grade=10">Soph</a>,
              <a href="xcTopCourseResults?cId=25&gId=2&limit=25&grade=9">Frosh</a>
            </div>
            <div>&raquo; Girls: 
              <a href="xcTop25LynHsGirls">All Time</a>,
              <a href="xcTopCourseResults?cId=25&gId=3&limit=25&grade=12">Senior</a>,
              <a href="xcTopCourseResults?cId=25&gId=3&limit=25&grade=11">Junior</a>,
              <a href="xcTopCourseResults?cId=25&gId=3&limit=25&grade=10">Soph</a>,
              <a href="xcTopCourseResults?cId=25&gId=3&limit=25&grade=9">Frosh</a>
            </div>
          </p>
          <h4>XC Top 15 Team List</h4>
          <p>
            <div>
              <span style="font-size:12px; color:gray;">
            	(Note: Based on fastest 5 runners for a given race, as opposed to a competing squad, i.e. VB, VG, FSB, JVG)
              </span>
            </div>
          	<div>Crystal Springs: 
          	  <a href="xcTop25CsTeamBoys">Boys</a>, 
          	  <a href="xcTop25CsTeamGirls">Girls</a>
          	</div>
          	<div>Toro Park: 
          	  <a href="xcTop25TpTeamBoys">Boys</a>, 
          	  <a href="xcTop25TpTeamGirls">Girls</a>
          	</div>
          	<div>Central Park: 
          	  <a href="xcTop25CpTeamBoys">Boys</a>, 
          	  <a href="xcTop25CpTeamGirls">Girls</a>
          	</div>
          	<div>Baylands Park: 
          	  <a href="xcTop25BpTeamBoys">Boys</a>, 
          	  <a href="xcTop25BpTeamGirls">Girls</a>
          	</div>
          </p>
          <h4>XC Alumni Race</h4>
          <p>
          	<div>
          		Results: 
              <a href="xcRaceResults?raceId=100006">2018</a>, 
              <a href="xcRaceResults?raceId=100005">2017</a>, 
	          	<a href="xcRaceResults?raceId=100004">2016</a>, 
	          	<a href="xcRaceResults?raceId=100003">2015</a>, 
	          	<a href="xcRaceResults?raceId=100002">2014</a>, 
	          	<a href="xcRaceResults?raceId=100001">2013</a>, 
	          	<a href="xcRaceResults?raceId=100000">2012</a>
          	</div>
          	<div>
          		<a href="xcPhotosCsAlumniRace">Photos</a>, 
          		<a href="xcVideosCsAlumniRace">Videos</a>, 
          		<a href="pastXcAlumniChampions">Past Alumni Champions</a>
          	</div>
          </p>
        </div>
      </div>
{% include "footer.html" %}
    </div>
  </body>
</html>