<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS XC Results</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/jumbotron-narrow.css">
    <link rel="stylesheet" href="/static/css/signup.css">
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script>
    var courseId = {{cId}};
    var genderId = {{gId}};
    var limit = {{limit}};
        
	$(function(){
		$.ajax({
			url: '/getTopResults',
			type: 'GET',
			data: {
				"courseId": courseId,
				"genderId": genderId,
				"limit": limit
			},
			success: function(res){
				var div = $('<div>')
				    .attr('class', 'list-group')
				    .append($('<a>')
				        .attr('class', 'list-group-item active')
				        .append($('<h4>')
				            .attr('class', 'list-group-item-heading'),
				            $('<p>')
				            .attr('class', 'list-group-item-text')));
							    				
				var resultsObj = JSON.parse(res);
				var results = '';
				limit = resultsObj.length
				$.each(resultsObj,function(index, value){
				    var resultStr = value.Rank + '. ' + value.FirstName + ' ' + value.LastName + ' (' + value.Year + ')'
				    var timeStr = value.Time + ' (' + value.Pace + ') - ' + value.Grade + 'th grade'
					results = $(div).clone();
					$(results).find('h4').text(resultStr);
					$(results).find('p').text(timeStr);
					$('.jumbotron').append(results);
				});
			},
			error: function(error){
				console.log(error);
			}
		});
	});
	
	$(function(){
		$.ajax({
			url: '/getCourseInfo',
			type: 'GET',
			data: {
				"courseId": courseId
			},
			success: function(res){
				var resultsObj = JSON.parse(res);
				var courseObj = resultsObj[0]
				var genderStr = (genderId && genderId == 3) ? 'Girls' : 'Boys'
				var courseStr = courseObj.CourseName + ' (' + courseObj.CourseDistance + 'M)'
				var topStr = limit > 0 ? 'Top ' + limit : 'No Results for'
				var titleStr =  topStr + ' ' + genderStr + ' - ' + courseStr
				$('.text-muted').text(titleStr);
			},
			error: function(error){
				console.log(error);
			}
		});
	});
    </script>
  </head>
  <body>
{% include "xc/body.html" %}
  </body>
</html>

