Flask==0.11
Flask-Cors==3.0.2
Flask-HTTPAuth==1.0.0
Flask-MySQL==1.4.0
Flask-RESTful==0.3.5
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10.1
jsondatabase==0.1.7
jsonschema==2.6.0
MarkupSafe==0.23
PyMySQL==0.7.11
Werkzeug==0.12.2
mysql-connector-python==8.0.15
flask-blueprint==1.2.7
mysqlclient==1.4.2.post1