<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS Running</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">   
  </head>
  <body>

    <div class="container">
{% include "nav_active_track.html" %}
      <div>
        <h3 class="text-muted">Santa Clara High School Track &amp; Field</h3>
      </div>

      <div class="jumbotron">
        <p><img src="/static/Uploads/schs_track_2005_west_valley_relays_scott_robinson.jpg" alt="SCHS Track 2005 West Valley Relays Scott Robinson" width="550"></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4 style="color:red">Latest Updates</h4>
          <p>
            <div>&raquo; 04/12/19 - added <a href="/santa-clara-high-track-and-field/season/2010">2010</a> thru <a href="/santa-clara-high-track-and-field/season/2017">2017</a> Track Seasons</div>
            <div>&raquo; 03/19/19 - added <a href="/santa-clara-high-track-and-field/coaches/">Track Coaches/Timeline</a></div>
            <div>&raquo; 03/18/19 - improve site navigation via breadcrumbs and dropdowns</div>
            <div>&raquo; 03/14/19</div>
            <div>&nbsp;&nbsp;- added Season Rank to <a href="/santa-clara-high-track-and-field#season-results">Season Results</a></div>
            <div>&nbsp;&nbsp;- added PR to <a href="/santa-clara-high-track-and-field/athletes/">Track Results by Athlete</a></div>
            <div>&raquo; 03/13/19 - added <a href="/santa-clara-high-track-and-field/athletes/">Track Results by Athlete</a></div>
            <div>&raquo; 03/12/19 - added <a href="/santa-clara-high-track-and-field/season/2018">2018 Track Season</a></div>
            <div>&raquo; 03/07/19 - added <a href="/santa-clara-high-track-and-field/hall-of-fame/">Hall of Fame results</a></div>
          </p>
          <h4><a href="/santa-clara-high-track-and-field/athletes/">Track Results by Athlete</a></h4>
          <p>
            <div>Boys: 
              <a href="/santa-clara-high-track-and-field/athletes/scott-robinson">Scott Robinson</a>, 
              <a href="/santa-clara-high-track-and-field/athletes/dave-wallick">Dave Wallick</a>, 
              <a href="/santa-clara-high-track-and-field/athletes/steve-marcki">Steve Marcki</a>, 
              <a href="/santa-clara-high-track-and-field/athletes/john-siirila">John Siirila</a>, 
              <a href="/santa-clara-high-track-and-field/athletes/girmay-guangul">Girmay Guangul</a>, 
              <a href="/santa-clara-high-track-and-field/athletes/david-zamora">David Zamora</a>, 
              <a href="/santa-clara-high-track-and-field/athletes/billy-chaung">Billy Chaung</a> ...
              <a href="/santa-clara-high-track-and-field/athletes/boys">All Boys</a>
            </div>
            <div>&nbsp;</div>
            <div>Girls: 
              <a href="/santa-clara-high-track-and-field/athletes/margaret-demorest">Margaret Demorest</a>, 
              <a href="/santa-clara-high-track-and-field/athletes/shana-buchanan">Shana Buchanan</a>, 
              <a href="/santa-clara-high-track-and-field/athletes/emily-gordon">Emily Gordon</a>, 
              <a href="/santa-clara-high-track-and-field/athletes/cynthia-smith">Cynthia Smith</a>,
              <a href="/santa-clara-high-track-and-field/athletes/grace-wills">Grace Wills</a>,
              <a href="/santa-clara-high-track-and-field/athletes/olivia-valente">Olivia Valente</a>, 
              <a href="/santa-clara-high-track-and-field/athletes/julie-sumpter">Julie Sumpter</a>...
              <a href="/santa-clara-high-track-and-field/athletes/girls">All Girls</a>
            </div>
          </p>
          <h4><a id="season-results" style="text-decoration:none;color:black;">Track Seasons</a></h4>
          <p>
            <a href="/santa-clara-high-track-and-field/season/2018">2018</a>,
            <a href="/santa-clara-high-track-and-field/season/2017">2017</a>,
            <a href="/santa-clara-high-track-and-field/season/2016">2016</a>,
            <a href="/santa-clara-high-track-and-field/season/2015">2015</a>,
            <a href="/santa-clara-high-track-and-field/season/2014">2014</a>,
            <a href="/santa-clara-high-track-and-field/season/2013">2013</a>,
            <a href="/santa-clara-high-track-and-field/season/2012">2012</a>,
            <a href="/santa-clara-high-track-and-field/season/2011">2011</a>,
            <a href="/santa-clara-high-track-and-field/season/2010">2010</a>
          </p>
          <h4>Track Coaches</h4>
          <p>
            <a href="/santa-clara-high-track-and-field/coaches/timeline">Timeline</a>, 
            <a href="/santa-clara-high-track-and-field/coaches/chuck-kappen">Chuck Kappen</a>, 
            <a href="/santa-clara-high-track-and-field/coaches/julie-lheureux">Julie L'Heureux</a>, 
            <a href="/santa-clara-high-track-and-field/coaches/margaret-demorest">Margaret Demorest</a>, 
            <a href="/santa-clara-high-track-and-field/coaches/paul-fuller">Paul Fuller</a> ...
            <a href="/santa-clara-high-track-and-field/coaches/">All Coaches</a>
          </p>
          <h4>Track Special Achievements</h4>
          <p>
            <div>Individual:
              All, 
              State Qualifiers, 
              CCS Champions,
              League Champions
            </div>
            <div>Team:
              All, 
              CCS Champions,
              League Champions
            </div>
          </p>
          <h4>Track Photos</h4>
          <p>
            Team Timeline
          </p>
          <p>&nbsp;</p>
        </div>

        <div class="col-lg-6">
          <h4><a href="/santa-clara-high-track-and-field/hall-of-fame/">Hall of Fame All-Time Top 10</a></h4>
          <h5>Sprints</h5>
          <p>
            <div>Boys: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-100m-dash">100m Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-200m-dash">200m Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-100yd-dash">100yd Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-220yd-dash">220yd Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-440yd-dash">440yd Dash</a>
            </div>
            <div>Girls: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-100m-dash">100m Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-200m-dash">200m Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-400m-dash">400m Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-100yd-dash">100yd Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-220yd-dash">220yd Dash</a>
            </div>
            <div>&nbsp;</div>
          </p>
          <h5>Distance</h5>
          <p>
            <div>Boys: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-880yd-run">880yd Run</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-1600m-run">1600m Run</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-2-mile-run">2 Mile Run</a>
            </div>
            <div>Girls: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-880yd-run">880yd Run</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-1600m-run">1600m Run</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-2-mile-run">2 Mile Run</a>
            </div>
            <div>&nbsp;</div>
          </p>
          <h5>Hurdles</h5>
          <p>
            <div>Boys: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-120yd-hurdles/">120yd Hurdles</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-330yd-hurdles/">330yd Hurdles</a>
            </div>
            <div>Girls: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-100m-hurdles-30in/">100m Hurdles (30")</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-100m-hurdles-33in/">100m Hurdles (33")</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-300m-hurdles-30in/">300m Hurdles (30")</a>
            </div>
            <div>&nbsp;</div>
          </p>
          <h5>Relays</h5>
          <p>
            <div>Boys: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-400m-relay/">400m Relay</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-mile-relay/">Mile Relay</a>
            </div>
            <div>Girls: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-440yd-relay/">400yd Relay</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-1600m-relay/">1600m Relay</a>
            </div>
            <div>&nbsp;</div>
          </p>
          <h5>Jumps</h5>
          <p>
            <div>Boys: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-high-jump/">High Jump</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-long-jump/">Long Jump</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-triple-jump/">Triple Jump</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-pole-vault/">Pole Vault</a>
            </div>
            <div>Girls: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-high-jump/">High Jump</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-long-jump/">Long Jump</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-triple-jump/">Triple Jump</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-pole-vault/">Pole Vault</a>
            </div>
            <div>&nbsp;</div>
          </p>
          <h5>Throws</h5>
          <p>
            <div>Boys: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-shot-put-12lb/">Shot Put (12lb)</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-discus-1.6kg/">Discus (1.6kg)</a>
            </div>
            <div>Girls: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-shot-put-4kg/">Shot Put (4kg)</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-discus-1kg/">Discus (1kg)</a>
            </div>
          </p>
        </div>
      </div>
{% include "footer.html" %}
    </div>
  </body>
</html>