<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109364959-1');
  </script>
    <title>SCHS Running</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">   
  </head>
  <body>

    <div class="container">
{% include "nav_active_track.html" %}
      <div>
        <h3 class="text-muted">Santa Clara High School Track &amp; Field</h3>
      </div>

      <div class="jumbotron">
        <p><img src="static/Uploads/schs_track_2005_west_valley_relays_scott_robinson.jpg" alt="SCHS Track 2005 West Valley Relays Scott Robinson" width="550"></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4 style="color:red">Latest Updates</h4>
          <p>
            <div>&raquo; 03/04/19 - added outline for <a href="track">Track &amp; Field</a> page</div>
          </p>
          <h4>Track Results by Runner</h4>
          <p>
            <div>Boys: 
              Scott Robinson, 
              Dave Wallick, 
              Steve Marcki, 
              John Siirila, 
              Girmay Guangul, 
              David Zamora, 
              Billy Chaung ...
              All Boys
            </div>
            <div>&nbsp;</div>
            <div>Girls: 
              Margaret Demorest, 
              Shana Buchanan, 
              Emily Gordon, 
              Cynthia Smith,
              Grace Wills,
              Olivia Valente, 
              Julie Sumpter...
              All Girls
            </div>
          </p>
          <h4>Track Seasons</h4>
          <p>
            2018
          </p>
          <h4>Track Coaches</h4>
          <p>
            Timeline, 
            Chuck Kappen, 
            Julie L'Heureux, 
            Paul Fuller ...
            All Coaches
          </p>
          <h4>Track Photos</h4>
          <p>
            Team Timeline
          </p>
          <p>&nbsp;</p>
        </div>

        <div class="col-lg-6">
          <h4>Hall of Fame All-Time Top 10</h4>
          <h5>Sprints</h5>
          <p>
            <div>Boys: 
              100m Dash, 
              200m Dash, 
              100yd Dash, 
              220yd Dash, 
              440yd Dash
            </div>
            <div>Girls: 
              100m Dash, 
              200m Dash, 
              400m Dash, 
              100yd Dash, 
              220yd Dash 
            </div>
            <div>&nbsp;</div>
          </p>
          <h5>Distance</h5>
          <p>
            <div>Boys: 
              880yd Run, 
              1600m Run, 
              2 Mile Run
            </div>
            <div>Girls: 
              880yd Run, 
              1600m Run, 
              2 Mile Run
            </div>
            <div>&nbsp;</div>
          </p>
          <h5>Hurdles</h5>
          <p>
            <div>Boys: 
              120yd Hurdles, 
              330yd Hurdles
            </div>
            <div>Girls: 
              100m Hurdles (30"), 
              100m Hurdles (33"), 
              300m Hurdles (30")
            </div>
            <div>&nbsp;</div>
          </p>
          <h5>Relays</h5>
          <p>
            <div>Boys: 
              400m Relay, 
              Mile Relay
            </div>
            <div>Girls: 
              400yd Relay, 
              1600m Relay
            </div>
            <div>&nbsp;</div>
          </p>
          <h5>Jumps</h5>
          <p>
            <div>Boys: 
              High Jump, 
              Long Jump, 
              Triple Jump, 
              Pole Vault
            </div>
            <div>Girls: 
              High Jump, 
              Long Jump, 
              Triple Jump, 
              Pole Vault
            </div>
            <div>&nbsp;</div>
          </p>
          <h5>Throws</h5>
          <p>
            <div>Boys: 
              Shot Put (12lb), 
              Discus (1.6kg)
            </div>
            <div>Girls: 
              Shot Put (4kg), 
              Discus (1kg)
            </div>
          </p>
        </div>
      </div>
{% include "footer.html" %}
    </div>
  </body>
</html>