<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS Cross Country Photos: Team Timelinee</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/jumbotron-narrow.css">
    <link rel="stylesheet" href="/static/css/fixed-header.css">
    <link rel="stylesheet" href="/static/css/lightbox.css">
    <script src="/static/js/lightbox-plus-jquery.js"></script>
    <script>
      $(function(){
        var xcHomeLink = $('<a>');
        $(xcHomeLink).attr('href', '/santa-clara-high-cross-country');
        $(xcHomeLink).text('SCHS Cross Country');
        $('.breadcrumb').append(xcHomeLink);
        $('.breadcrumb').append(' / ');

        var photosLink = $('<a>');
        $(photosLink).attr('href', '/santa-clara-high-cross-country/photos/');
        $(photosLink).text('Photos');
        $('.breadcrumb').append(photosLink);
        var titleStr = 'Team Timeline'
        $('.breadcrumb').append(' / ' + titleStr);

        $('.text-muted').text('SCHS XC Photos: ' + titleStr);
      })

    	$(function(){    	
			for (year = new Date().getFullYear(); year >= 1988; year--) {
   				$('.jumbotron').append(
    				'<p><a href="/static/Uploads/team/SC_XC_' + year + '.jpeg" '
    				+ 'data-lightbox="schs-team-photos" data-title="'+year+' Santa Clara High School Cross Country Team">' 
    				+ '<img id="team_img_' + year + '" src="/static/Uploads/team/SC_XC_' + year + '.jpeg" '
    				+ 'style="width: 100%;" onerror="imageError(this)"/></a></p>'    			
    			);
			}
		});
		
		function imageError(img) {
			$(img).parent().parent().remove();
		}
    </script>
    <style>
      .jumbotron {margin-top:185px;}
    </style>
  </head>
  <body>
{% include "/common/container-fh-nav-bc-title.html" %}
  </body>
</html>

