<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109364959-1');
  </script>
    <title>SCHS Track &amp; Field Hall of Fame</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/jumbotron-narrow.css">
    <link rel="stylesheet" href="/static/css/fixed-header.css">
    <script src="/static/js/jquery-1.11.2.js"></script>
    <style>
      .hof{font-size:16px;padding-bottom:10px;}
    </style>
    <script>
    $(function(){
      var trackHomeLink = $('<a>');
      $(trackHomeLink).attr('href', '/santa-clara-high-track-and-field');
      $(trackHomeLink).text('SCHS Track & Field');
      $('.breadcrumb').append(trackHomeLink);
      var titleStr = 'Hall of Fame';
      $('.breadcrumb').append(' / ' + titleStr);
      $('.text-muted').text('SCHS Track & Field ' + titleStr);
    })
    </script>
  </head>
  <body>
    <div class="container">
{% include "/common/fh-nav-bc-title.html" %}
      <div class="non-fixed-content-bc row marketing">
        <div class="col-xs-6">
          <h4>Sprints</h4>
          <div>
            <div class='hof'>&raquo; Boys: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-100m-dash">100m Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-200m-dash">200m Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-100yd-dash">100yd Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-220yd-dash">220yd Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-440yd-dash">440yd Dash</a>
            </div>
            <div class='hof'>&raquo; Girls: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-100m-dash">100m Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-200m-dash">200m Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-400m-dash">400m Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-100yd-dash">100yd Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-220yd-dash">220yd Dash</a>
            </div>
          </div>
          <h4>Distance</h4>
          <div>
            <div class='hof'>&raquo; Boys: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-880yd-run">880yd Run</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-1600m-run">1600m Run</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-2-mile-run">2 Mile Run</a>
            </div>
            <div class='hof'>&raquo; Girls: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-880yd-run">880yd Run</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-1600m-run">1600m Run</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-2-mile-run">2 Mile Run</a>
            </div>
          </div>
          <h4>Hurdles</h4>
          <div>
            <div class='hof'>&raquo; Boys: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-120yd-hurdles/">120yd Hurdles</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-330yd-hurdles/">330yd Hurdles</a>
            </div>
            <div class='hof'>&raquo; Girls: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-100m-hurdles-30in/">100m Hurdles (30")</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-100m-hurdles-33in/">100m Hurdles (33")</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-300m-hurdles-30in/">300m Hurdles (30")</a>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <h4>Relays</h4>
          <div>
            <div class='hof'>&raquo; Boys: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-400m-relay/">400m Relay</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-mile-relay/">Mile Relay</a>
            </div>
            <div class='hof'>&raquo; Girls: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-400m-relay/">400m Relay</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-1600m-relay/">1600m Relay</a>
            </div>
          </div>
          <h4>Jumps</h4>
          <div>
            <div class='hof'>&raquo; Boys: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-high-jump/">High Jump</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-long-jump/">Long Jump</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-triple-jump/">Triple Jump</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-pole-vault/">Pole Vault</a>
            </div>
            <div class='hof'>&raquo; Girls: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-high-jump/">High Jump</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-long-jump/">Long Jump</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-triple-jump/">Triple Jump</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-pole-vault/">Pole Vault</a>
            </div>
          </div>
          <h4>Throws</h4>
          <div>
            <div class='hof'>&raquo; Boys: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-shot-put-12lb/">Shot Put (12lb)</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-discus-1.6kg/">Discus (1.6kg)</a>
            </div>
            <div class='hof'>&raquo; Girls: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-shot-put-4kg/">Shot Put (4kg)</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-discus-1kg/">Discus (1kg)</a>
            </div>
          </div>
        </div>
      </div>
{% include "/common/footer.html" %}
    </div>
  </body>
</html>

