<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109364959-1');
  </script>
    <title>SCHS Track &amp; Field Hall of Fame</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/signup.css" rel="stylesheet">
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script>

    $(function(){
      var trackHomeLink = $('<a>');
      $(trackHomeLink).attr('href', '/santa-clara-high-track-and-field');
      $(trackHomeLink).text('SCHS Track & Field');
      $('.breadcrumb').append(trackHomeLink);
      var titleStr = 'Hall of Fame All-Time Top 10';
      $('.breadcrumb').append(' / ' + titleStr);
      $('.text-muted').text(titleStr);
    })


    </script>
  </head>
  <body>
    <div class="container">
{% include "nav.html" %}
{% include "breadcrumb-title.html" %}
      <div class="row marketing">
        <div class="col-lg-6">
          <h5>Sprints</h5>
          <p>
            <div>Boys: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-100m-dash">100m Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-200m-dash">200m Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-100yd-dash">100yd Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-220yd-dash">220yd Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-440yd-dash">440yd Dash</a>
            </div>
            <div>Girls: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-100m-dash">100m Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-200m-dash">200m Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-400m-dash">400m Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-100yd-dash">100yd Dash</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-220yd-dash">220yd Dash</a>
            </div>
            <div>&nbsp;</div>
          </p>
          <h5>Distance</h5>
          <p>
            <div>Boys: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-880yd-run">880yd Run</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-1600m-run">1600m Run</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-2-mile-run">2 Mile Run</a>
            </div>
            <div>Girls: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-880yd-run">880yd Run</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-1600m-run">1600m Run</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-2-mile-run">2 Mile Run</a>
            </div>
            <div>&nbsp;</div>
          </p>
          <h5>Hurdles</h5>
          <p>
            <div>Boys: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-120yd-hurdles/">120yd Hurdles</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-330yd-hurdles/">330yd Hurdles</a>
            </div>
            <div>Girls: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-100m-hurdles-30in/">100m Hurdles (30")</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-100m-hurdles-33in/">100m Hurdles (33")</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-300m-hurdles-30in/">300m Hurdles (30")</a>
            </div>
            <div>&nbsp;</div>
          </p>
        </div>
        <div class="col-lg-6">
          <h5>Relays</h5>
          <p>
            <div>Boys: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-400m-relay/">400m Relay</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-mile-relay/">Mile Relay</a>
            </div>
            <div>Girls: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-440yd-relay/">400yd Relay</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-1600m-relay/">1600m Relay</a>
            </div>
            <div>&nbsp;</div>
          </p>
          <h5>Jumps</h5>
          <p>
            <div>Boys: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-high-jump/">High Jump</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-long-jump/">Long Jump</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-triple-jump/">Triple Jump</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-pole-vault/">Pole Vault</a>
            </div>
            <div>Girls: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-high-jump/">High Jump</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-long-jump/">Long Jump</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-triple-jump/">Triple Jump</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-pole-vault/">Pole Vault</a>
            </div>
            <div>&nbsp;</div>
          </p>
          <h5>Throws</h5>
          <p>
            <div>Boys: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-shot-put-12lb/">Shot Put (12lb)</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/boys-discus-1.6kg/">Discus (1.6kg)</a>
            </div>
            <div>Girls: 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-shot-put-4kg/">Shot Put (4kg)</a>, 
              <a href="/santa-clara-high-track-and-field/hall-of-fame/girls-discus-1kg/">Discus (1kg)</a>
            </div>
          </p>
        </div>
      </div>
{% include "footer.html" %}
    </div>
  </body>
</html>

