<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS Running</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">   
  </head>
  <body>

    <div class="container">
{% include "nav_active_workouts.html" %}
      <div>
        <h3 class="text-muted">Workouts</h3>
      </div>

      <div class="jumbotron">
        <p><img src="static/Uploads/workouts/workouts_cal_photo_splice.png" alt="Workouts" width="550"></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4 style="color:red">Latest Updates</h4>
          <p>
            <div>&raquo; 03/04/19 - added outline for <a href="workouts">Workouts</a> page</div>
          </p>
          <h4>Distance Workouts</h4>
          <p>
            <div>Track: 
              <a href="#">12x300m</a>, 
              <a href="#">10x400m</a>,
              <a href="#">5x800m</a>,
              <a href="#">4x1000m</a>,
              <a href="#">3x1600m</a>,
              <a href="#">Tempo Run</a>, ... 
              <a href="#">All Track Workouts</a>
            </div>
          </p>
          <p>
            <div>Road/Trail: 
              <a href="#">Timed Run</a>, 
              <a href="#">Distance Run</a>, 
              <a href="#">Hill Repeats</a>,
              <a href="#">Hills</a>,
              <a href="#">Fartleks</a>,
              <a href="#">Road Intervals</a>, ... 
              <a href="#">All Road/Trail Workouts</a>
            </div>
          </p>
          <h4>Running Drills</h4>
          <p>
            <div>
              <a href="#">High Knees</a>, 
              <a href="#">Butt Kickers</a>,
              <a href="#">Bounding</a>,
              <a href="#">Carriocas</a>,
              <a href="#">Grapevine</a>,
              <a href="#">A Skips</a>,
              <a href="#">B Skips</a>, ... 
              <a href="#">All Running Drills</a>
            </div>
          </p>
          <h4>Weight Training</h4>
          <p>
            <div>
              <a href="#">5x5</a>, 
              <a href="#">3x10</a>,
              <a href="#">10x10</a>,
              <a href="#">Pyramid</a>,
              <a href="#">Ladder</a>, ... 
              <a href="#">All Weight Training Routines</a>
            </div>
          </p>


          <p>&nbsp;</p>
        </div>

        <div class="col-lg-6">
          <h4>Quickies</h4>
          <p>
            <div>By Difficulty: 
              <a href="#">Beginner</a>, 
              <a href="#">Intermediate</a>,
              <a href="#">Advanced</a>,
              <a href="#">Expert</a>,
              <a href="#">Master</a>,
              <a href="#">All Quickies</a>
            </div>
          </p>
          <p>
            <div>By Body Split Emphasis: 
              <a href="#">Core</a>, 
              <a href="#">Total Body</a>,
              <a href="#">Upper Body</a>,
              <a href="#">Lower Body</a>,
              <a href="#">All Quickies</a>
            </div>
          </p>
          <h4>Quickie Workouts</h4>
          <p>
            <div>By Difficulty: 
              <a href="#">Beginner</a>, 
              <a href="#">Intermediate</a>,
              <a href="#">Advanced</a>,
              <a href="#">Expert</a>,
              <a href="#">Master</a>,
              <a href="#">All Quickies</a>
            </div>
          </p>
          <p>
            <div>By Body Split Emphasis: 
              <a href="#">Core</a>, 
              <a href="#">Total Body</a>,
              <a href="#">Upper Body</a>,
              <a href="#">Lower Body</a>,
              <a href="#">All Quickies</a>
            </div>
          </p>
          <h4>Body Weight Exercises</h4>
          <p>
            <div>By Difficulty: 
              <a href="#">Beginner</a>, 
              <a href="#">Intermediate</a>,
              <a href="#">Advanced</a>,
              <a href="#">Expert</a>,
              <a href="#">Master</a>,
              <a href="#">All Exercises</a>
            </div>
          </p>
          <p>
            <div>By Body Split Emphasis: 
              <a href="#">Core</a>, 
              <a href="#">Total Body</a>,
              <a href="#">Upper Body</a>,
              <a href="#">Lower Body</a>,
              <a href="#">All Exercises</a>
            </div>
          </p>
        </div>
      </div>
{% include "footer.html" %}
    </div>
  </body>
</html>