<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS Running: Bodyweight Exercises</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/signup.css" rel="stylesheet">
    <link href="/static/css/videos.css" rel="stylesheet">
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script>
    //var genderId = '{{gId}}';

	$(function(){
		var workoutsHomeLink = $('<a>');
		$(workoutsHomeLink).attr('href', '/workouts');
		$(workoutsHomeLink).text('Workouts');
		$('.breadcrumb').append(workoutsHomeLink);
		var titleStr = 'Bodyweight Exercises'
		$('.breadcrumb').append(' / ' + titleStr);
		$('.text-muted').append(titleStr);
	})

	$(function(){
		var videoLeft1 = $.fn.createVideo('mj25D73_TmA', 'Clapping Push-Ups', 5, 'Upper Body');
		var videoRight1 = $.fn.createVideo('T3dJdB3exHI', 'Hanging Open Close Scissors', 4, 'Core');
		var videoLeft2 = $.fn.createVideo('ek4YOOlVamk', 'Front Lever Swings', 6, 'Total Body');
		var videoRight2 = $.fn.createVideo('GZRj5HJqK', 'Clapping Pull-Ups', 6, 'Upper Body');
		var videoLeft3 = $.fn.createVideo('MCmLRa6ZDfA', 'Burpee Tuck Jumps', 5, 'Total Body');
		var videoRight3 = $.fn.createVideo('7JsXmM2zKoc', 'Lunges', 2, 'Lower Body');
		var videoLeft4 = $.fn.createVideo('i3gcPC0Tm0c', 'Squat Jumps', 3, 'Lower Body');
		$.fn.addVideos(videoLeft1, videoRight1);
		$.fn.addVideos(videoLeft2, videoRight2);
		$.fn.addVideos(videoLeft3, videoRight3);
		$.fn.addVideos(videoLeft4, null);
	})

	$.fn.createVideo = function(videoId, bwExerciseName, difficulty, bodySplit) {
		return $('<div>').attr('class', 'videoContainer')
			.append($('<div>').attr('class', 'video')
				.append($('<h4>').append(bwExerciseName))
				.append($('<iframe>')
					.attr('src', 'https://www.youtube.com/embed/' + videoId + '?rel=0&mute=1')
					.attr('width', '315').attr('height', '315').attr('frameborder', '0')
					.attr('allowfullscreen', 'true'))
				.append($('<div>')
					.append($('<span>').attr('class', 'bodySplit').text(bodySplit))
					.append($('<span>').attr('class', 'difficulty').text('Level: ' + difficulty))
					)
				);
	}

	$.fn.addVideos = function(videoLeft, videoRight) {
		$('.bodyweight-exercises').append($('<div>').attr('class', 'leftVideo').append($(videoLeft)));
		if (videoRight != null) {
			$('.bodyweight-exercises').append($('<div>').attr('class', 'rightVideo').append($(videoRight)));
		}
		$('.bodyweight-exercises').append($('<div>').attr('style', 'clear: both'));
	}
    </script>
  </head>
  <body>
    <div class="container">
{% include "nav.html" %}
{% include "breadcrumb-title.html" %}
{% include "filter.html" %}
	  <div class="bodyweight-exercises"></div>
{% include "footer.html" %}
    </div>
  </body>
</html>

