	  <div class="dropdown" onclick="void(0)">
	    <span class="dropbtn">Difficulty &#9660;</span>
	    <div class="dropdown-content">
          <div class="dropdown-indent"><a href="/workouts/bodyweight-exercises/beginner">Beginner</a></div>
          <div class="dropdown-indent"><a href="/workouts/bodyweight-exercises/intermediate">Intermediate</a></div>
          <div class="dropdown-indent"><a href="/workouts/bodyweight-exercises/advanced">Advanced</a></div>
          <div class="dropdown-indent"><a href="/workouts/bodyweight-exercises/expert">Expert</a></div>
          <div class="dropdown-indent"><a href="/workouts/bodyweight-exercises/master">Master</a></div>
	    </div>
	  </div>
	  <div class="dropdown" onclick="void(0)">
	    <span class="dropbtn">Body Split &#9660;</span>
	    <div class="dropdown-content">
          <div class="dropdown-indent"><a href="/workouts/bodyweight-exercises/core">Core</a></div>
          <div class="dropdown-indent"><a href="/workouts/bodyweight-exercises/total-body">Total Body</a></div>
          <div class="dropdown-indent"><a href="/workouts/bodyweight-exercises/upper-body">Upper Body</a></div>
          <div class="dropdown-indent"><a href="/workouts/bodyweight-exercises/lower-body">Lower Body</a></div>
	    </div>
	  </div>