<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS Running: Bodyweight Exercises</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/signup.css" rel="stylesheet">
    <link href="/static/css/videos.css" rel="stylesheet">
    <link href="/static/css/dropdown.css" rel="stylesheet">
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script>
    var bodySplitId = '{{bsId}}';
    var exerciseLevels = '{{eLevels}}';
    var title = '{{title}}';

	$(function(){
		var workoutsHomeLink = $('<a>');
		$(workoutsHomeLink).attr('href', '/workouts');
		$(workoutsHomeLink).text('Workouts');
		$('.breadcrumb').append(workoutsHomeLink);
		$('.breadcrumb').append(' / ');
	})

	$(function(){
		$.ajax({
			url: '/getExercises',
			type: 'GET',
			data: {
				"bodySplitId": bodySplitId,
				"exerciseLevels": exerciseLevels,
			},
			success: function(res){							    				
				var resultsObj = JSON.parse(res);
				var videoLeft = null;
				var videoRight = null;
				var allExercises = true;
				$.each(resultsObj,function(index, value){
					allExercises = value.All;
					if (videoLeft != null && videoRight != null) {
						$.fn.addVideos(videoLeft, videoRight);
						videoLeft = null;
						videoRight = null;
					}
					var youTubeId = value.YouTubeId;
					var exerciseName = value.ExerciseName;
					var dificulty = $.fn.getDifficulty(value.ExerciseLevel);
					var bodySplit = value.BodySplit;
					if (videoLeft == null) {
						videoLeft = $.fn.createVideo(youTubeId, exerciseName, dificulty, bodySplit);
					} else if (videoRight == null) {
						videoRight = $.fn.createVideo(youTubeId, exerciseName, dificulty, bodySplit);
					}
				});
				if (videoLeft != null) {
					$.fn.addVideos(videoLeft, videoRight);
				}
				var titleStr = 'Bodyweight Exercises'
				if (allExercises) {
					$('.breadcrumb').append(titleStr);
					$('.text-muted').append(title + ' (' +resultsObj.length + ')');
				} else {
					$('.breadcrumb').append($('<a>').attr('href', '/workouts/bodyweight-exercises/').text(titleStr));
					$('.breadcrumb').append(' / ' + title);
					$('.text-muted').append(title + ' (' +resultsObj.length + ')');
				}
			},
			error: function(error){
				console.log(error);
			}
		});
	});

	$.fn.getDifficulty = function(exerciseLevel) {
		var difficulty = 'Unknown';
		if (exerciseLevel == 1) {
			difficulty = 'Beginner';
		} else if (exerciseLevel == 2) {
			difficulty = 'Intermediate'
		} else if (exerciseLevel == 3) {
			difficulty = 'Advanced';
		} else if (exerciseLevel == 4) {
			difficulty = 'Expert';
		} else if (exerciseLevel == 5 || exerciseLevel == 6) {
			difficulty = 'Master';
		}
		return difficulty;
	}

	$.fn.createVideo = function(videoId, bwExerciseName, difficulty, bodySplit) {
		return $('<div>').attr('class', 'videoContainer')
			.append($('<div>').attr('class', 'video')
				.append($('<h4>').append(bwExerciseName))
				.append($('<iframe>')
					.attr('src', 'https://www.youtube.com/embed/' + videoId + '?rel=0&mute=1')
					.attr('width', '315').attr('height', '315').attr('frameborder', '0')
					.attr('allowfullscreen', 'true'))
				.append($('<div>')
					.append($('<span>').attr('class', 'difficulty').text(difficulty))
					.append($('<span>').attr('class', 'bodySplit').text(bodySplit))
					)
				);
	}

	$.fn.addVideos = function(videoLeft, videoRight) {
		$('.bodyweight-exercises').append($('<div>').attr('class', 'leftVideo').append($(videoLeft)));
		if (videoRight != null) {
			$('.bodyweight-exercises').append($('<div>').attr('class', 'rightVideo').append($(videoRight)));
		}
		$('.bodyweight-exercises').append($('<div>').attr('style', 'clear: both'));
	}

	$.get("/workouts/bodyweight-exercises/dropdown-menus", function(data){
	    $(".dropdown-list").append(data);
	});
    </script>
  </head>
  <body>
    <div class="container">
{% include "nav.html" %}
{% include "breadcrumb-title.html" %}
{% include "dropdown.html" %}
	  <div class="bodyweight-exercises" style="margin-top:20px"></div>
{% include "footer.html" %}
    </div>
  </body>
</html>

