<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109364959-1');
  </script>
    <title>SCHS Track &amp; Field Events</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/jumbotron-narrow.css">
    <link rel="stylesheet" href="/static/css/fixed-header.css">
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script>
    $(function(){
      var trackHomeLink = $('<a>');
      $(trackHomeLink).attr('href', '/santa-clara-high-track-and-field');
      $(trackHomeLink).text('SCHS Track & Field');
      $('.breadcrumb').append(trackHomeLink);
      var titleStr = 'Events';
      $('.breadcrumb').append(' / ' + titleStr);
      $('.text-muted').text('SCHS Track & Field ' + titleStr);
    })
    </script>
  </head>
  <body>
    <div class="container">
{% include "/common/fh-nav-bc-title.html" %}
      <div class="non-fixed-content-bc row marketing">
        <div class="col-xs-6">
          <h4>Sprints</h4>
          <p>
            <h5>Boys:</h5>
            <div>&raquo; 100m Dash:
              <a href="/santa-clara-high-track-and-field/events/100m-dash/all-boys/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/100m-dash/senior-boys/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/100m-dash/junior-boys/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/100m-dash/sophomore-boys/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/100m-dash/freshman-boys/">Frosh</a>
            </div>
            <div>&raquo; 200m Dash:
              <a href="/santa-clara-high-track-and-field/events/200m-dash/all-boys/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/200m-dash/senior-boys/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/200m-dash/junior-boys/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/200m-dash/sophomore-boys/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/200m-dash/freshman-boys/">Frosh</a>
            </div>
            <div>&raquo; 400m Dash:
              <a href="/santa-clara-high-track-and-field/events/400m-dash/all-boys/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/400m-dash/senior-boys/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/400m-dash/junior-boys/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/400m-dash/sophomore-boys/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/400m-dash/freshman-boys/">Frosh</a>
            </div>
            <h5>Girls:</h5>
            <div>&raquo; 100m Dash:
              <a href="/santa-clara-high-track-and-field/events/100m-dash/all-girls/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/100m-dash/senior-girls/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/100m-dash/junior-girls/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/100m-dash/sophomore-girls/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/100m-dash/freshman-girls/">Frosh</a>
            </div>
            <div>&raquo; 200m Dash:
              <a href="/santa-clara-high-track-and-field/events/200m-dash/all-girls/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/200m-dash/senior-girls/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/200m-dash/junior-girls/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/200m-dash/sophomore-girls/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/200m-dash/freshman-girls/">Frosh</a>
            </div>
            <div>&raquo; 400m Dash:
              <a href="/santa-clara-high-track-and-field/events/400m-dash/all-girls/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/400m-dash/senior-girls/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/400m-dash/junior-girls/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/400m-dash/sophomore-girls/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/400m-dash/freshman-girls/">Frosh</a>
            </div>
          </p>
          <h4>Distance</h4>
          <p>
            <h5>Boys:</h5>
            <div>&raquo; 800m Run:
              <a href="/santa-clara-high-track-and-field/events/800m-run/all-boys/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/800m-run/senior-boys/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/800m-run/junior-boys/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/800m-run/sophomore-boys/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/800m-run/freshman-boys/">Frosh</a>
            </div>
            <div>&raquo; 1600m Run:
              <a href="/santa-clara-high-track-and-field/events/1600m-run/all-boys/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/1600m-run/senior-boys/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/1600m-run/junior-boys/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/1600m-run/sophomore-boys/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/1600m-run/freshman-boys/">Frosh</a>
            </div>
            <div>&raquo; 3200m Run:
              <a href="/santa-clara-high-track-and-field/events/3200m-run/all-boys/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/3200m-run/senior-boys/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/3200m-run/junior-boys/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/3200m-run/sophomore-boys/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/3200m-run/freshman-boys/">Frosh</a>
            </div>
            <h5>Girls:</h5>
            <div>&raquo; 800m Run:
              <a href="/santa-clara-high-track-and-field/events/800m-run/all-girls/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/800m-run/senior-girls/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/800m-run/junior-girls/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/800m-run/sophomore-girls/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/800m-run/freshman-girls/">Frosh</a>
            </div>
            <div>&raquo; 1600m Run:
              <a href="/santa-clara-high-track-and-field/events/1600m-run/all-girls/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/1600m-run/senior-girls/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/1600m-run/junior-girls/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/1600m-run/sophomore-girls/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/1600m-run/freshman-girls/">Frosh</a>
            </div>
            <div>&raquo; 3200m Run:
              <a href="/santa-clara-high-track-and-field/events/3200m-run/all-girls/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/3200m-run/senior-girls/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/3200m-run/junior-girls/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/3200m-run/sophomore-girls/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/3200m-run/freshman-girls/">Frosh</a>
            </div>
          </p>
          <h4>Hurdles</h4>
          <p>
            <h5>Boys:</h5>
            <div>&raquo; 65m Hurdles:
              <a href="/santa-clara-high-track-and-field/events/65m-hurdles-39in/all-boys/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/65m-hurdles-39in/sophomore-boys/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/65m-hurdles-39in/freshman-boys/">Frosh</a>
            </div>
            <div>&raquo; 110m Hurdles:
              <a href="/santa-clara-high-track-and-field/events/110m-hurdles-39in/all-boys/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/110m-hurdles-39in/senior-boys/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/110m-hurdles-39in/junior-boys/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/110m-hurdles-39in/sophomore-boys/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/110m-hurdles-39in/freshman-boys/">Frosh</a>
            </div>
            <div>&raquo; 300m Hurdles:
              <a href="/santa-clara-high-track-and-field/events/300m-hurdles-36in/all-boys/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/300m-hurdles-36in/senior-boys/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/300m-hurdles-36in/junior-boys/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/300m-hurdles-36in/sophomore-boys/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/300m-hurdles-36in/freshman-boys/">Frosh</a>
            </div>
            <h5>Girls:</h5>
            <div>&raquo; 100m Hurdles:
              <a href="/santa-clara-high-track-and-field/events/100m-hurdles-33in/all-girls/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/100m-hurdles-33in/senior-girls/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/100m-hurdles-33in/junior-girls/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/100m-hurdles-33in/sophomore-girls/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/100m-hurdles-33in/freshman-girls/">Frosh</a>
            </div>
            <div>&raquo; 300m Hurdles:
              <a href="/santa-clara-high-track-and-field/events/300m-hurdles-30in/all-girls/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/300m-hurdles-30in/senior-girls/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/300m-hurdles-30in/junior-girls/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/300m-hurdles-30in/sophomore-girls/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/300m-hurdles-30in/freshman-girls/">Frosh</a>
            </div>
          </p>
        </div>
        <div class="col-xs-6">
          <h4>Relays</h4>
          <p>
            <h5>Boys:</h5>
            <div>&raquo; 400m Relay:
              <a href="/santa-clara-high-track-and-field/events/400m-relay/all-boys/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/400m-relay/varsity-boys/">Varsity</a>, 
              <a href="/santa-clara-high-track-and-field/events/400m-relay/frosh-soph-boys/">Frosh-Soph</a>
            </div>
            <div>&raquo; 1600m Relay:
              <a href="/santa-clara-high-track-and-field/events/1600m-relay/all-boys/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/1600m-relay/varsity-boys/">Varsity</a>, 
              <a href="/santa-clara-high-track-and-field/events/1600m-relay/frosh-soph-boys/">Frosh-Soph</a>
            </div>
            <h5>Girls:</h5>
            <div>&raquo; 400m Relay:
              <a href="/santa-clara-high-track-and-field/events/400m-relay/all-girls/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/400m-relay/varsity-girls/">Varsity</a>, 
              <a href="/santa-clara-high-track-and-field/events/400m-relay/junior-varsity-girls/">Junior Varsity</a>
            </div>
            <div>&raquo; 1600m Relay:
              <a href="/santa-clara-high-track-and-field/events/1600m-relay/all-girls/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/1600m-relay/varsity-girls/">Varsity</a>, 
              <a href="/santa-clara-high-track-and-field/events/1600m-relay/junior-varsity-girls/">Junior Varsity</a>
            </div>
          </p>
          <h4>Jumps</h4>
          <p>
            <h5>Boys:</h5>
            <div>&raquo; High Jump:
              <a href="/santa-clara-high-track-and-field/events/high-jump/all-boys/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/high-jump/senior-boys/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/high-jump/junior-boys/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/high-jump/sophomore-boys/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/high-jump/freshman-boys/">Frosh</a>
            </div>
            <div>&raquo; Long Jump:
              <a href="/santa-clara-high-track-and-field/events/long-jump/all-boys/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/long-jump/senior-boys/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/long-jump/junior-boys/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/long-jump/sophomore-boys/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/long-jump/freshman-boys/">Frosh</a>
            </div>
            <div>&raquo; Triple Jump:
              <a href="/santa-clara-high-track-and-field/events/triple-jump/all-boys/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/triple-jump/senior-boys/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/triple-jump/junior-boys/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/triple-jump/sophomore-boys/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/triple-jump/freshman-boys/">Frosh</a>
            </div>
            <div>&raquo; Pole Vault:
              <a href="/santa-clara-high-track-and-field/events/pole-vault/all-boys/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/pole-vault/senior-boys/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/pole-vault/junior-boys/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/pole-vault/sophomore-boys/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/pole-vault/freshman-boys/">Frosh</a>
            </div>
            <h5>Girls:</h5>
            <div>&raquo; High Jump:
              <a href="/santa-clara-high-track-and-field/events/high-jump/all-girls/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/high-jump/senior-girls/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/high-jump/junior-girls/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/high-jump/sophomore-girls/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/high-jump/freshman-girls/">Frosh</a>
            </div>
            <div>&raquo; Long Jump:
              <a href="/santa-clara-high-track-and-field/events/long-jump/all-girls/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/long-jump/senior-girls/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/long-jump/junior-girls/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/long-jump/sophomore-girls/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/long-jump/freshman-girls/">Frosh</a>
            </div>
            <div>&raquo; Triple Jump:
              <a href="/santa-clara-high-track-and-field/events/triple-jump/all-girls/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/triple-jump/senior-girls/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/triple-jump/junior-girls/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/triple-jump/sophomore-girls/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/triple-jump/freshman-girls/">Frosh</a>
            </div>
            <div>&raquo; Pole Vault:
              <a href="/santa-clara-high-track-and-field/events/pole-vault/all-girls/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/pole-vault/senior-girls/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/pole-vault/junior-girls/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/pole-vault/sophomore-girls/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/pole-vault/freshman-girls/">Frosh</a>
            </div>
          </p>
          <h4>Throws</h4>
          <p>
            <h5>Boys:</h5>
            <div>&raquo; Shot Put (10lb):
              <a href="/santa-clara-high-track-and-field/events/shot-put-10lb/all-boys/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/shot-put-10lb/sophomore-boys/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/shot-put-10lb/freshman-boys/">Frosh</a>
            </div>
            <div>&raquo; Shot Put (12lb):
              <a href="/santa-clara-high-track-and-field/events/shot-put-12lb/all-boys/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/shot-put-12lb/senior-boys/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/shot-put-12lb/junior-boys/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/shot-put-12lb/sophomore-boys/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/shot-put-12lb/freshman-boys/">Frosh</a>
            </div>
            <div>&raquo; Discus (1.6kg):
              <a href="/santa-clara-high-track-and-field/events/discus-1.6kg/all-boys/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/discus-1.6kg/senior-boys/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/discus-1.6kg/junior-boys/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/discus-1.6kg/sophomore-boys/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/discus-1.6kg/freshman-boys/">Frosh</a>
            </div>
            <h5>Girls:</h5>
            <div>&raquo; Shot Put (4kg): 
              <a href="/santa-clara-high-track-and-field/events/shot-put-4kg/all-girls/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/shot-put-4kg/senior-girls/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/shot-put-4kg/junior-girls/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/shot-put-4kg/sophomore-girls/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/shot-put-4kg/freshman-girls/">Frosh</a>
            </div>
            <div>&raquo; Discus (1kg): 
              <a href="/santa-clara-high-track-and-field/events/discus-1kg/all-girls/">All</a>, 
              <a href="/santa-clara-high-track-and-field/events/discus-1kg/senior-girls/">Senior</a>, 
              <a href="/santa-clara-high-track-and-field/events/discus-1kg/junior-girls/">Junior</a>, 
              <a href="/santa-clara-high-track-and-field/events/discus-1kg/sophomore-girls/">Soph</a>, 
              <a href="/santa-clara-high-track-and-field/events/discus-1kg/freshman-girls/">Frosh</a>
            </div>
          </p>
        </div>
      </div>
{% include "/common/footer.html" %}
    </div>
  </body>
</html>

