.videoListContainer {
  position: relative;
}

.videoRowContainer {
  width: 100%;
}

.leftVideo {
  float: left;
}

.rightVideo {
  float: right;
}

.centerVideo {
  margin: 0 auto;
}

.videoContainer {
  text-align: center;
}

.video {
  background-color: #337ab7;
  color: white;
  padding: 0px 10px 5px 10px;
  margin: 0px 0px 20px 0px;
  font-size: 16px;
  border: none;
  display: inline-block;
  border-radius: 4px;
}

.bodySplit {
  float: left;
  margin-left: 10px;
}

.difficulty {
  float: right;
  margin-right: 10px;
}
