<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS XC Special Achievement</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/jumbotron-narrow.css">
    <link rel="stylesheet" href="/static/css/signup.css">
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script src="/static/js/utils.js"></script>
    <script>
    var splAchvId = {{splAchvId}};
    var sportId = {{sportId}};
	$(function(){
		$.ajax({
			url: '/getSpecialAchieversById',
			type: 'GET',
			data: {
				"splAchvId": splAchvId,
				"sportId": sportId,
			},
			success: function(res){
				var div = $('<div>')
				    .attr('class', 'list-group')
				    .append($('<a>')
				        .attr('class', 'list-group-item active')
				        .append($('<h4>')
				            .attr('class', 'list-group-item-heading'),
				            $('<p>')
				            .attr('class', 'list-group-item-text')));
				var resultsObj = JSON.parse(res);
				var results = '';
				var specialAchievementNameStr = '';
				var count = resultsObj.length;
				$.each(resultsObj,function(index, value){
					specialAchievementNameStr = splAchvId == 0 ? 'All Special Achievement' : value.SpecialAchievementName;
					var nameStr =  value.FirstName + ' ' + value.LastName;
				    var resultStr = value.Year;
				    if (splAchvId == 0) {
				    	resultStr += ' ' + value.SpecialAchievementName
				    }
				    resultStr += ': ' + nameStr;
				    var notesStr = value.Notes + ' - ' + value.Grade + 'th grade'
					results = $(div).clone();
					$(results).find('a').attr('href', '/xcRunner?rId='+ value.RunnerId);
					$(results).find('h4').text(resultStr);
					$(results).find('p').text(notesStr);
					$('.jumbotron').append(results);
				});
				$('.text-muted').text(specialAchievementNameStr + 's (' + count + ')');
				$(document).ready(function() {
					document.title = (splAchvId == 0 ? '' : specialAchievementNameStr + 's - ') + document.title;
				});
			},
			error: function(error){
				console.log(error);
			}
		});
	});
    </script>
    <style>
    	.jumbotron p {margin-bottom: 0px;font-size:18px;}
	</style>
  </head>
  <body>
{% include "xc/body.html" %}
  </body>
</html>

