<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS Track &amp; Field Athletes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/signup.css" rel="stylesheet">
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script>
    var genderId = '{{gId}}';

	$(function(){
		var trackHomeLink = $('<a>');
		$(trackHomeLink).attr('href', '/santa-clara-high-track-and-field');
		$(trackHomeLink).text('SCHS Track & Field');
		$('.breadcrumb').append(trackHomeLink);
	})

	$(function(){
		$.ajax({
			url: '/getTrackAthletes',
			type: 'GET',
			data: {
				"genderId": genderId,
			},
			success: function(res){							    				
				var resultsObj = JSON.parse(res);
				var count = resultsObj.length;
				var titleStr = (genderId && genderId == '3') ? 'Girls ' : ((genderId && genderId == '2') ? 'Boys ': 'Athletes');
				$('.text-muted').text(titleStr + ' (' + count + ')');
				$.each(resultsObj,function(index, value){
				    var nameStr = value.LastName + ', ' + value.FirstName + ' ... ' + value.Years;
				    var link = "/santa-clara-high-track-and-field/athletes/" + value.AthleteId;
					$('.athletes').append("<div><a href='" + link + "'>" + nameStr + "</a></div>");
				});
				if (genderId == '2' || genderId == '3') {
					$('.breadcrumb').append(' / ');
					var athletesLink = $('<a>');
					$(athletesLink).attr('href', '/santa-clara-high-track-and-field/athletes/');
					$(athletesLink).text('Athletes');
					$('.breadcrumb').append(athletesLink);
				} else {
					var girlsLink = $('<a>');
					$(girlsLink).attr('href', '/santa-clara-high-track-and-field/athletes/girls');
					$(girlsLink).text('Girls');
					$('.filter').append(girlsLink);
					$('.filter').append(' | ');
					var boysLink = $('<a>');
					$(boysLink).attr('href', '/santa-clara-high-track-and-field/athletes/boys');
					$(boysLink).text('Boys');
					$('.filter').append(boysLink);
				}
				$('.breadcrumb').append(' / ' + titleStr);
			},
			error: function(error){
				console.log(error);
			}
		});
	});
    </script>
  </head>
  <body>
    <div class="container">
{% include "nav.html" %}
{% include "breadcrumb-title.html" %}
{% include "filter.html" %}
      <div class="row marketing">
        <div class="col-lg-6">
          <p class=athletes></p>
        </div>
      </div>
{% include "footer.html" %}
    </div>
  </body>
</html>

