<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS Track &amp; Field Athletes</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/jumbotron-narrow.css">
    <link rel="stylesheet" href="/static/css/fixed-header.css">
    <script src="/static/js/jquery-1.11.2.js"></script>
    <style>
    	.filter {font-size:16px;font-weight: bold;}
    	.runners {font-size:16px;padding-bottom:8px;}
	</style>
    <script>
    var genderId = '{{gId}}';

	$(function(){
		var trackHomeLink = $('<a>');
		$(trackHomeLink).attr('href', '/santa-clara-high-track-and-field');
		$(trackHomeLink).text('SCHS Track & Field');
		$('.breadcrumb').append(trackHomeLink);
	})

	$(function(){
		$.ajax({
			url: '/getTrackAthletes',
			type: 'GET',
			data: {
				"genderId": genderId,
			},
			success: function(res){							    				
				var resultsObj = JSON.parse(res);
				var count = resultsObj.length;
				var countRight = count / 2;
				var titleStr = (genderId && genderId == '3') ? 'Female' : ((genderId && genderId == '2') ? 'Male': '');
				$('.text-muted').text('SCHS ' + titleStr + ' Athletes (' + count + ')');
				$.each(resultsObj,function(index, value){
				    var nameStr = value.LastName + ', ' + value.FirstName + ' ... ' + value.Years;
				    var link = "/santa-clara-high-track-and-field/athletes/" + value.AthleteId;
					if (index < countRight) {
						$('.athletesLeft').append("<div class='runners'>&raquo; <a href='" + link + "'>" + nameStr + "</a></div>");
					} else {
						$('.athletesRight').append("<div class='runners'>&raquo; <a href='" + link + "'>" + nameStr + "</a></div>");
					}
				});
				if (genderId == '2' || genderId == '3') {
					$('.breadcrumb').append(' / ');
					var athletesLink = $('<a>');
					$(athletesLink).attr('href', '/santa-clara-high-track-and-field/athletes/');
					$(athletesLink).text('Athletes');
					$('.breadcrumb').append(athletesLink);
				} else {
					var girlsLink = $('<a>');
					$(girlsLink).attr('href', '/santa-clara-high-track-and-field/athletes/females');
					$(girlsLink).text('Females');
					$('.filter').append(girlsLink);
					$('.filter').append(' | ');
					var boysLink = $('<a>');
					$(boysLink).attr('href', '/santa-clara-high-track-and-field/athletes/males');
					$(boysLink).text('Males');
					$('.filter').append(boysLink);
				}
				var breadcrumbStr = (genderId && genderId == '3') ? 'Females' : ((genderId && genderId == '2') ? 'Males': 'Athletes');
				$('.breadcrumb').append(' / ' + breadcrumbStr);
			},
			error: function(error){
				console.log(error);
			}
		});
	});
    </script>
  </head>
  <body>
    <div class="container">
{% include "/common/fh-nav-bc-title-filter.html" %}
      <div class="non-fixed-content-bcf row">
        <div class="col-xs-6">
          <p class=athletesLeft></p>
        </div>
        <div class="col-xs-6">
          <p class=athletesRight></p>
        </div>
      </div>
{% include "/common/footer.html" %}
    </div>
  </body>
</html>

