<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS Track Athlete</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/signup.css" rel="stylesheet">
    <style>
    .runnerResults p {
    	font-size:16px;
	}
    </style>
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script src="/static/js/utils.js"></script>
    <script>
    var aId = {{aId}};
    var urlParams = parseURL();
    var athleteId = aId ? aId : urlParams.aId
        
	$(function(){
		$.ajax({
			url: '/getTrackAthleteResults',
			type: 'GET',
			data: {
				"athleteId": athleteId
			},
			success: function(res){
				var div = $('<div>')
				    .attr('class', 'list-group')
				    .append($('<a>')
				        .attr('class', 'list-group-item active')
				        .append($('<h4>')
				            .attr('class', 'list-group-item-heading'),
				            $('<p>')
				            .attr('class', 'list-group-item-text')));
				var headerDiv = $('<div>').append($('<h4>'));
				var rankDiv = $('<div>');
				var lastYear = '';
				var results = '';
				var prResults = '';
				var titleStr = '';
				var genderStr = '';
				var genderLinkStr = '';
				var resultsObj = JSON.parse(res);
				$.each(resultsObj,function(index, value){
					genderStr = value.GenderId == 2 ? 'Boys' : 'Girls';
					genderLinkStr = value.GenderId == 2 ? 'boys' : 'girls';

					var gradeStr = value.Grade > 12 ? '' : ' - ' + value.Grade + 'th grade';
					results = $(div).clone();
					$(results).find('a').attr(
						'href', '/santa-clara-high-track-and-field/results/' + value.EventId + '/' + value.SquadId + '/' + value.Year + '/'
					);
					$(results).find('h4').text(value.Event + ' - ' + value.Result);
					if (value.PR) {
						prResults = $(results).clone()
						//$(prResults).find('p').append($(rankDiv).clone().text('Lifetime Girls Rank: 10'));
						$(prResults).find('p').text(value.Year + ' Season' + gradeStr);
						$('.personalRecords').append(prResults);						
					} else {
						$(results).find('p').append($(rankDiv).clone().text(value.Squad + ' Rank: ' + value.Rank));
						if (lastYear != value.Year) {
							lastYear = value.Year;
							var seasonLink = $('<span>').append($('<a>'));
							$(seasonLink).find('a').attr('href', '/santa-clara-high-track-and-field/season/' + value.Year);
							$(seasonLink).find('a').text(value.Year + ' Season');
							$(seasonLink).append(' Records' + gradeStr);
							$('.seasonRecords').append($(headerDiv).clone().find('h4').append(seasonLink));
						}
						$('.seasonRecords').append(results);
					}
					titleStr = value.FullName;
				});
				var athletesLink = $('<span>').append($('<a>'));
				$(athletesLink).find('a').attr('href', '/santa-clara-high-track-and-field/athletes/');
				$(athletesLink).find('a').text('SCHS Track & Field Athletes');
				$(athletesLink).append(' / ');
				$('.breadcrumb').append(athletesLink);
				var genderLink = $('<span>').append($('<a>'));
				$(genderLink).find('a').attr('href', '/santa-clara-high-track-and-field/athletes/' + genderLinkStr);
				$(genderLink).find('a').text(genderStr);
				$(genderLink).append(' / ' + titleStr);
				$('.breadcrumb').append(genderLink);


				$('.text-muted').text(titleStr);
			},
			error: function(error){
				console.log(error);
			}
		});
	});
    </script>
  </head>
  <body>
    <div class="container">
{% include "nav.html" %}
	  <div>
        <p class="breadcrumb"></p>
      </div>
      <div>
        <h3 class="text-muted"></h3>
      </div>
      <div class="row marketing">
        <div class="col-lg-6">
        	<h4>Personal Records</h4>
        	<div class="personalRecords"></div>
		</div>
        <div class="col-lg-6">
        	<div class="seasonRecords"></div>
		</div>
      </div>
{% include "footer.html" %}
    </div>
  </body>
</html>

