<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS XC Coaches: Timeline</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/jumbotron-narrow.css">
    <link rel="stylesheet" href="/static/css/fixed-header.css">
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script src="/static/js/utils.js"></script>
    <script>
    $(function(){
      	var xcHomeLink = $('<a>');
      	$(xcHomeLink).attr('href', '/santa-clara-high-cross-country');
      	$(xcHomeLink).text('SCHS Cross Country');
      	$('.breadcrumb').append(xcHomeLink);
		$('.breadcrumb').append(' / ');

		var coachesLink = $('<a>');
		$(coachesLink).attr('href', '/santa-clara-high-cross-country/coaches/');
		$(coachesLink).text('Coaches');
		$('.breadcrumb').append(coachesLink);

		var titleStr = 'Timeline';
		$('.breadcrumb').append(' / ' + titleStr);
		$('.text-muted').text('SCHS Cross Country Coaches ' + titleStr);
    })

	$(function(){
		$.ajax({
			url: '/getCoachTimeline',
			type: 'GET',
			success: function(res){
				var div = $('<div>')
				    .attr('class', 'list-group')
				    .append($('<a>')
				        .attr('class', 'list-group-item active')
				        .append($('<p>')
				            .attr('class', 'list-group-item-text')));		
				var resultsObj = JSON.parse(res);
				var results = '';
				$.each(resultsObj,function(index, value){
				    var resultStr = value.Year + ': ' + value.Coaches
					results = $(div).clone();
					$(results).find('p').text(resultStr);
					$(results).find('a').attr('href', '/xcSeason?yr='+ value.Year);
					$('.jumbotron').append(results);
				});
			},
			error: function(error){
				console.log(error);
			}
		});
	});
    </script>
    <style>
	  .jumbotron {margin-top:185px;}
      .jumbotron p {margin-bottom: 0px;}
	</style>
  </head>
  <body>
{% include "/common/container-fh-nav-bc-title.html" %}
  </body>
</html>

