<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS Cross Country Coaches</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/jumbotron-narrow.css">
    <link rel="stylesheet" href="/static/css/fixed-header.css">
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script>
    $(function(){
      	var xcHomeLink = $('<a>');
      	$(xcHomeLink).attr('href', '/santa-clara-high-cross-country');
      	$(xcHomeLink).text('SCHS Cross Country');
      	$('.breadcrumb').append(xcHomeLink);
		$('.breadcrumb').append(' / Coaches');

		var coachesPhoto = $('<img>');
		$(coachesPhoto).attr('src', '/static/Uploads/schs_xc_2018_coaches_cropped.jpg');
		$(coachesPhoto).attr('width', '550');
		$(coachesPhoto).attr('alt', 'SCHS Cross Country 2018 Coaches');
		$('.jumbotron').append(coachesPhoto)

		var link = '/santa-clara-high-cross-country/coaches/timeline';
		var linkTag = $('<a>').attr('href', link).text('Coaches Timeline');
	    var coachTimelineLinkDiv = $('<div>').attr('class', 'coach').append('&raquo; ').append(linkTag);
		$('.coaches').append(coachTimelineLinkDiv);
    })

	$(function(){
		$.ajax({
			url: '/getCoaches',
			type: 'GET',
			success: function(res){							    				
				var resultsObj = JSON.parse(res);
				var count = resultsObj.length
				$('.text-muted').text('SCHS Cross Country Coaches (' + count + ')');
				$.each(resultsObj,function(index, value){
				    var nameStr = value.FirstName + ' ' + value.LastName;
				    var numSeasons = value.NumSeasons;
				    var seasonStr = ' (' + numSeasons + (numSeasons > 1 ? ' seasons' : ' season') + ')';
				    var displayStr = nameStr + seasonStr + ' ... ' + value.Years;
				    var link = '/xcCoach?coachId=' + value.CoachId;
				    var linkTag = $('<a>').attr('href', link).text(displayStr);
				    var coachLinkDiv = $('<div>').attr('class', 'coach').append('&raquo; ').append(linkTag);
					$('.coaches').append(coachLinkDiv);
				});
			},
			error: function(error){
				console.log(error);
			}
		});
	});
    </script>
    <style>
	  .jumbotron {margin-top:205px;}
	  .coach {font-size:18px;padding-bottom:10px;}
	</style>
  </head>
  <body>
    <div class="container">
{% include "/common/fh-nav-bc-title.html" %}
{% include "/common/main.html" %}
      <div class="row marketing">
        <p class=coaches></p>
      </div>
{% include "/common/footer.html" %}
    </div>
  </body>
</html>

