<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS Track &amp; Field Competitor Bio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/signup.css" rel="stylesheet">
    <style>
	    .competitorResults p {
	    	font-size:18px;
		}
    </style>
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script src="/static/js/utils.js"></script>
    <script>
    var cId = '{{competitorId}}';
    var urlParams = parseURL();
    var competitorId = cId ? cId : urlParams.cId;

	$(function(){
		var trackHomeLink = $('<a>');
		$(trackHomeLink).attr('href', '/santa-clara-high-track-and-field');
		$(trackHomeLink).text('SCHS Track & Field');
		$('.breadcrumb').append(trackHomeLink);
		$('.breadcrumb').append(' / ');
	})

	$(function(){
		$.ajax({
			url: '/getTrackCompetitorResults',
			type: 'GET',
			data: {
				"competitorId": competitorId
			},
			success: function(res){
				var div = $('<div>')
				    .attr('class', 'list-group')
				    .append($('<a>')
				        .attr('class', 'list-group-item active')
				        .append($('<h4>')
				            .attr('class', 'list-group-item-heading'),
				            $('<p>')
				            .attr('class', 'list-group-item-text')));
							    				
				var resultsObj = JSON.parse(res);
				var results = '';
				var fullName = '';
				var titleStr = '';
				var year = '';
				var athleteId = '';
				var raceResults = '';
				var fieldResults = '';
				$.each(resultsObj,function(index, value){
					fullName = value.FullName
					titleStr = fullName + (value.Grade > 12 ? '' : ' (' + value.Grade + 'th grade)');
					year = value.Year;
					athleteId = value.AthleteId;

					results = $(div).clone();
					$(results).find('a').attr(
						'href', '/santa-clara-high-track-and-field/results/' + value.EventId + '/' + value.SquadId + '/' + value.Year + '/'
					);
					$(results).find('h4').text(value.Event + ' - ' + value.Result);
					$(results).find('p').text(value.Squad + ' Rank: ' + value.Rank);

					eventId = value.EventId;
					if (eventId >= 1 && eventId <= 28) {
						if (raceResults == '') {
							// remove placeholder text bc a race result will be appended
							$('.raceResults').text('');
							raceResults = 'yay!'
						}
						$('.raceResults').append(results);
					} else if (eventId >= 29 && eventId <= 37) {
						if (fieldResults == '') {
							// remove placeholder text bc a field result will be appended
							$('.fieldResults').text('');
							fieldResults = 'yay!'
						}
						$('.fieldResults').append(results);
					}
				});
				var seasonLink = $('<a>');
				$(seasonLink).attr('href', '/santa-clara-high-track-and-field/season/' + year);
				$(seasonLink).text(year + ' Season');
				$('.breadcrumb').append(seasonLink);
				$('.breadcrumb').append(' / ' + titleStr);
				$('.text-muted').append(titleStr);

				var athleteLink = $('<a>');
				$(athleteLink).attr('href', '/santa-clara-high-track-and-field/athletes/' + athleteId);
				$(athleteLink).text(fullName + ' (All Records)');
				$('.career').append(athleteLink);
				$('.raceHeader').text(year + ' Season Best Track Times');
				$('.fieldHeader').text(year + ' Season Best Field Marks');
				$(document).ready(function() {
					document.title = fullName + ' - ' + year + ' ' + document.title;
				});
			},
			error: function(error){
				console.log(error);
			}
		});
	});
    </script>
  </head>
  <body>
    <div class="container">
{% include "nav.html" %}
{% include "breadcrumb-title.html" %}
      <div><p class="career"></p></div>
      <div class="row marketing">
        <div class="col-lg-6">
        	<h4 class="raceHeader"></h4>
        	<div class="raceResults">No Track Times</div>
		</div>
        <div class="col-lg-6">
        	<h4 class="fieldHeader"></h4>
        	<div class="fieldResults">No Field Marks</div>
		</div>
      </div>
{% include "footer.html" %}
    </div>
  </body>
</html>

