<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS Track Competitor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/signup.css" rel="stylesheet">
    <style>
	    .competitorResults p {
	    	font-size:18px;
		}
    </style>
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script src="/static/js/utils.js"></script>
    <script>
    var cId = '{{competitorId}}';

    var urlParams = parseURL();
    var competitorId = cId ? cId : urlParams.cId;
        
	$(function(){
		$.ajax({
			url: '/getTrackCompetitorResults',
			type: 'GET',
			data: {
				"competitorId": competitorId
			},
			success: function(res){
				var div = $('<div>')
				    .attr('class', 'list-group')
				    .append($('<a>')
				        .attr('class', 'list-group-item active')
				        .append($('<h4>')
				            .attr('class', 'list-group-item-heading'),
				            $('<p>')
				            .attr('class', 'list-group-item-text')));
							    				
				var resultsObj = JSON.parse(res);
				var results = '';
				var fullName = '';
				var gradeStr = '';
				var titleStr = '';
				$.each(resultsObj,function(index, value){
					fullName = value.FullName;
					gradeStr = value.Grade > 12 ? '' : ' - ' + value.Grade + 'th grade';
					titleStr = fullName + gradeStr + ' - ' + value.Year + ' SCHS Track & Field';

					results = $(div).clone();
					$(results).find('a').attr(
						'href', '/santa-clara-high-track-and-field/results/' + value.EventId + '/' + value.SquadId + '/' + value.Year + '/'
					);
					$(results).find('h4').text(value.Event + ' - ' + value.Result);
					$(results).find('p').text(value.Squad);

					eventId = value.EventId;
					if (eventId >= 1 && eventId <= 28) {
						$('.raceResults').append(results);
					} else if (eventId >= 29 && eventId <= 37) {
						$('.fieldResults').append(results);
					}
				});
				$('.text-muted').text(titleStr);
			},
			error: function(error){
				console.log(error);
			}
		});
	});
    </script>
  </head>
  <body>
    <div class="container">
{% include "nav.html" %}
	  <div>
        <h3 class="text-muted"></h3>
      </div>
      <div class="row marketing">
        <div class="col-lg-6">
        	<h4 class="">Season Best Track Times</h4>
        	<div class="raceResults"></div>
		</div>
        <div class="col-lg-6">
        	<h4 class="">Season Best Field Times</h4>
        	<div class="fieldResults"></div>
		</div>
      </div>
{% include "footer.html" %}
    </div>
  </body>
</html>

