    <div class="dropdown" onclick="void(0)">
      <span class="dropbtn">Seasons &#9660;</span>
      <div class="dropdown-content">
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/2018">2018</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/2017">2017</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/2016">2016</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/2015">2015</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/2014">2014</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/2013">2013</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/2012">2012</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/2011">2011</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/2010">2010</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/2009">2009</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/2008">2008</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/2007">2007</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/2006">2006</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/2005">2005</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/2004">2004</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/2003">2003</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/2002">2002</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/2001">2001</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/2000">2000</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/1999">1999</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/1998">1998</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/1997">1997</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/1996">1996</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/1995">1995</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/1994">1994</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/1993">1993</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/1992">1992</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/1991">1991</a></div>
          <div class="dropdown-indent2"><a href="/santa-clara-high-cross-country/season/1988">1988</a></div>
      </div>
    </div>