        <div class="header">
          <nav>
            <ul class="nav nav-pills pull-right">
              <li role="presentation"><a href="/">Home</a></li>
              <li role="presentation"><a href="/santa-clara-high-cross-country">XC</a></li>
              <li role="presentation" class="active"><a href="/santa-clara-high-track-and-field">Track</a></li>
              <li role="presentation"><a href="/workouts">Workouts</a></li>
            </ul>
          </nav>
          <p>&nbsp;</p>
        </div>