<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS XC Coaches</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script>        
	$(function(){
		$.ajax({
			url: '/getCoaches',
			type: 'GET',
			success: function(res){							    				
				var resultsObj = JSON.parse(res);
				var count = resultsObj.length
				$('.text-muted').text('SCHS XC Coaches (' + count + ')');

				$.each(resultsObj,function(index, value){
				    var nameStr = value.FirstName + ' ' + value.LastName
				    var numSeasons = value.NumSeasons
				    var seasonStr = ' (' + numSeasons + (numSeasons > 1 ? ' seasons' : ' season') + ')'
				    var displayStr = nameStr + seasonStr + ' ... ' + value.Years
				    var link = "coach?coachId=" + value.CoachId
					$('.runners').append("<div><a href='" + link + "'>" + displayStr + "</a></div><br/>");
				});
			},
			error: function(error){
				console.log(error);
			}
		});
	});
    </script>
  </head>
  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"></h3>
      </div>
      
      <div class="row marketing">
        <p class=runners>
        </p>
      </div>
        
      <footer class="footer">
        <p>&copy; Cal Workouts 2018</p>
      </footer>
    </div>
  </body>
</html>

