<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS XC Competitor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <style>
    .competitorResults p {
    	font-size:18px;
	}
    </style>
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/utils.js"></script>
    <script>
    var urlParams = parseURL();
    var competitorId = urlParams.cId;
        
	$(function(){
		$.ajax({
			url: '/getCompetitorResults',
			type: 'GET',
			data: {
				"competitorId": competitorId
			},
			success: function(res){
				var div = $('<div>')
				    .attr('class', 'list-group')
				    .append($('<a>')
				        .attr('class', 'list-group-item active')
				        .append($('<h4>')
				            .attr('class', 'list-group-item-heading'),
				            $('<p>')
				            .attr('class', 'list-group-item-text')));
							    				
				var resultsObj = JSON.parse(res);
				var results = '';
				var fullName = '';
				var titleStr = '';
				$.each(resultsObj,function(index, value){
					fullName = value.FirstName + ' ' + value.LastName
					var gradeStr = value.Grade == 0 ? 'Alumni' : value.Grade + 'th grade'
				    var timeStr = value.Time + ' (' + value.Pace + ') - ' + gradeStr;
					titleStr = fullName + ' - ' + gradeStr + ' - ' + value.Year + ' Season'
					var headerStr = value.Date + ' - ' + value.RaceName + ': ' + value.CourseName + ', ' + value.CourseDistance + 'M'
					headerStr += value.RaceCondition.localeCompare('unknown') ? ' *' + value.RaceCondition + '*' : ''
				    var timeStr = value.Time + ' (' + value.Pace + ')'
					results = $(div).clone();
					$(results).find('a').attr('href', '/raceResults?raceId=' + value.RaceId);
					$(results).find('h4').text(headerStr);
					$(results).find('p').text(timeStr);
					$('.competitorResults').append(results);
				});
				$('.text-muted').text(titleStr);
			},
			error: function(error){
				console.log(error);
			}
		});
	});
    </script>
  </head>
  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"></h3>
      </div>
      <div class="competitorResults"></div>
      <footer class="footer">
        <p>&copy; Cal Workouts 2018</p>
      </footer>
    </div>
  </body>
</html>

