<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS Running: Error Page</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/jumbotron-narrow.css">
    <link href="/static/css/signup.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
{% include "nav.html" %}
      <div>
        <h3 class="text-muted">SCHS Running: Error Page</h3>
      </div>
      <div class="jumbotron">
        <h2>{{error}}</h2>
      </div>
{% include "footer.html" %}
    </div>
  </body>
</html>