<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS Running</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">   
  </head>
  <body>

    <div class="container">
{% include "nav_active_home.html" %}
      <div>
        <h3 class="text-muted">Santa Clara High School Running</h3>
      </div>

      <div class="jumbotron">
        <p><img src="static/Uploads/schs_xc_2018_coaches_cropped.jpg" alt="SCHS XC 2018 Coaches" width="550"></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4 style="color:red">Latest Updates</h4>
          <p>
            <div>&raquo; 04/12/19 - added <a href="/santa-clara-high-track-and-field/season/2010">2010</a> thru <a href="/santa-clara-high-track-and-field/season/2017">2017</a> Track Seasons</div>
            <div>&raquo; 03/29/19 - added <a href="/workouts/quickie-workouts/">Quickie Workouts</a>!!</div>
            <div>&raquo; 03/22/19 - added <a href="/workouts/quickies/">QUICKIES</a> &amp; <a href="/workouts/quickies/faq">FAQ</a>!!</div>
            <div>&raquo; 03/20/19 - added <a href="/workouts/bodyweight-exercises/">Bodyweight Exercises</a></div>
            <div>&raquo; 03/19/19 - added <a href="/santa-clara-high-track-and-field/coaches/">Track Coaches/Timeline</a></div>
            <div>&raquo; 03/14/19</div>
            <div>&nbsp;&nbsp;- added Season Rank to <a href="/santa-clara-high-track-and-field#season-results">Season Results</a></div>
            <div>&nbsp;&nbsp;- added PR to <a href="/santa-clara-high-track-and-field/athletes/">Track Results by Athlete</a></div>
            <div>&raquo; 03/13/19 - added <a href="/santa-clara-high-track-and-field/athletes/">Track Results by Athlete</a></div>
            <div>&raquo; 03/12/19 - added <a href="/santa-clara-high-track-and-field/season/2018">2018 Track Season</a></div>
            <div>&raquo; 03/07/19 - added <a href="/santa-clara-high-track-and-field/hall-of-fame/">Track &amp; Field Hall of Fame</a></div>
          </p>
          <h4>SCHS Cross Country</h4>
          <p>
            <a href="/santa-clara-high-cross-country">XC Home</a>
          </p>
          <h4>SCHS Track &amp; Field</h4>
          <p>
            <a href="/santa-clara-high-track-and-field">Track Home</a>
          </p>
          <h4>Workouts</h4>
          <p>
            <a href="/workouts">Get Fit!</a>
          </p>
          <h4>Related Sites</h4>
          <p>
            <a href="https://www.athletic.net/TrackAndField/California/CentralCoast.aspx">Athletic Track &amp; Field</a>, 
            <a href="https://www.xcstats.com/">XC Stats</a>, 
            <a href="http://www.prepcaltrack.com/">Prep Cal Track</a>, 
            <a href="http://www.runnerspace.com/">Runner Space</a>, 
            <a href="http://www.lynbrooksports.com">Lynbrook HS XC/Track</a> ...
            <a href="/related-sites">All Sites</a>
          </p>
        </div>
      </div>

{% include "footer.html" %}
    </div>
  </body>
</html>