<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SCHS Running</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">   
  </head>
  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Santa Clara High School Running</h3>
      </div>

      <div class="jumbotron">
        <p><img src="static/Uploads/schs_xc_2003_cropped.png" alt="SCHS 2003 Varsity Boys"></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>XC Results by Year</h4>
          <p>
          	<a href="#">2016</a>, 
          	<a href="#">2015</a>, 
          	<a href="#">2014</a>, 
          	<a href="#">2013</a> ...
          	<a href="#">all years</a>
          </p>
          <h4>XC Results by Course</h4>
          <p>
          	<a href="#">Crystal Springs</a>, 
          	<a href="#">Toro Park</a>, 
          	<a href="#">Central Park</a>, 
          	<a href="#">Baylands Park</a> ...
          	<a href="#">all courses</a>
          </p>
          <h4>XC Results by Runner</h4>
          <p>
          	<div>Boys: 
          	  <a href="#">Cal Ochoa</a>, 
          	  <a href="#">Girmay Guangul</a>, 
          	  <a href="#">Vince Rodriguez</a>, 
          	  <a href="#">Kindu Ejigu</a>, 
          	  <a href="#">Lenin Zapata</a> ...
          	  <a href="#">all boys</a>
          	</div>
          	<div>Girls: 
          	  <a href="#">Bita Manesh</a>, 
          	  <a href="#">Rachel Newman</a>, 
          	  <a href="#">Sophia Kennedy</a>, 
          	  <a href="#">Ingrid Lacy</a>, 
          	  <a href="#">Abby Olsen</a> ...
          	  <a href="#">all girls</a>
          	</div>
          </p>
          <h4>XC Results by Race</h4>
          <p>
          	<a href="#">Alumni</a>, 
          	<a href="#">League</a>, 
          	<a href="#">CCS</a>, 
          	<a href="#">State</a> ...
          	<a href="#">all races</a>
          </p>
          <p>&nbsp;</p>
        </div>

        <div class="col-lg-6">
          <h4>XC Top 25 Individual List</h4>
          <p>
          	<div>Crystal Springs: 
          	  <a href="top25CsBoys">Boys</a>, 
          	  <a href="top25CsGirls">Girls</a>
          	</div>
          	<div>Toro Park: 
          	  <a href="top25TpBoys">Boys</a>, 
          	  <a href="top25TpGirls">Girls</a>
          	</div>
          	<div>Central Park: 
          	  <a href="top25CpBoys">Boys</a>, 
          	  <a href="top25CpGirls">Girls</a>
          	</div>
          </p>
          <h4>XC Top 15 Team List</h4>
          <p>
          	<div>Crystal Springs: 
          	  <a href="top25CsTeamBoys">Boys</a>, 
          	  <a href="top25CsTeamGirls">Girls</a>
          	</div>
          	<div>Toro Park: 
          	  <a href="top25TpTeamBoys">Boys</a>, 
          	  <a href="top25TpTeamGirls">Girls</a>
          	</div>
          	<div>Central Park: 
          	  <a href="top25CpTeamBoys">Boys</a>, 
          	  <a href="top25CpTeamGirls">Girls</a>
          	</div>
          </p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Cal Workouts 2017</p>
      </footer>
    </div>
  </body>
</html>