<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS XC Team Photos Timeline</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <link href="../static/css/lightbox.css" rel="stylesheet">
    <script src="../static/js/lightbox-plus-jquery.js"></script>
    <script>
    $(function(){
		for (year = 2017; year >= 1988; year--) {
			if ((year > 2016 || year < 2004) && year != 1990 && year != 1989) {
    			$('.jumbotron').append(
    				'<p><a href="static/Uploads/team/SC_XC_' + year + '.jpeg" '
    				+ 'data-lightbox="schs-team-photos" data-title="'+year+' Santa Clara High School Cross Country Team">' 
    				+ '<img id="team_img_' + year + '" src="static/Uploads/team/SC_XC_' + year + '.jpeg" '
    				+ 'style="width: 100%;" onError="this.style.display=\'none\'"></a></p>'    			
    			);
			}
    	}
	});
    </script>
  </head>
  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">SCHS XC Team Photos Timeline</h3>
      </div>
      
      <div id="team_img_container" class="jumbotron">
      </div>
        
      <footer class="footer">
        <p>&copy; Cal Workouts 2017</p>
      </footer>
    </div>
  </body>
</html>

