<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS XC: Related Sites</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">
{% include "nav.html" %}
      <div>
        <h3 class="text-muted">SCHS Running: Related Sites</h3>
      </div>
      <div class="row marketing">
        <h4>Running Sites</h4>
        <p>        	
          	<div><a href="https://www.athletic.net/TrackAndField/California/CentralCoast.aspx">Athletic Track &amp; Field</a></div>
          	<div><a href="https://www.xcstats.com/">XC Stats</a></div>
          	<div><a href="http://www.prepcaltrack.com/">Prep Cal Track</a></div>
          	<div><a href="http://www.runnerspace.com/">Runner Space</a></div>
          	<div><a href="http://www.dyestat.com/">Dye Stat</a></div>
        </p>
        <h4>SCVAL Sites</h4>
        <p>
          	<div>Cupertino HS: <a href="http://tinorunners.org/">XC/Track</a></div>
          	<div>Fremont HS: <a href="http://www.fhs.fuhsd.org/crosscountry">Cross Country</a> |  <a href="https://fremonths.schoolloop.com/trackandfield">Track &amp; Field</a></div>
          	<div>Gunn HS: <a href="https://sites.google.com/a/pausd.org/gunn-cross-country/">XC/Track</a></div>
          	<div>Homestead HS: <a href="http://hhsathletics.com/cross-country/">Cross Country</a> | <a href="http://hhsathletics.com/track/">Track &amp; Field</a></div>
          	<div>Los Alto HS: <a href="http://www.losaltosxc.com/">Cross Country</a> | <a href="http://www.losaltostrack.com/">Track &amp; Field</a></div>
          	<div>Los Gatos HS: <a href="http://losgatosathletics.com/cross_country">Cross Country</a> | <a href="http://losgatosathletics.com/track">Track &amp; Field</a></div>
          	<div>Lynbrook HS: <a href="http://www.lynbrooksports.com">XC/Track</a></div>
          	<div>Milpitas HS: <a href="https://www.xcstats.com/team_page.php?school_id=927">Cross Country</a> | <a href="https://www.athletic.net/TrackAndField/School.aspx?SchoolID=1091">Track &amp; Field</a></div>
          	<div>Monta Vista HS: <a href="http://www.mvrunning.com/">XC/Track</a></div>
          	<div>Mountain View HS: <a href="http://www.mvla.net/MVHS/Department/27-Athletics/portal/CrossCountry">Cross Country </a> | <a href="http://www.mvla.net/MVHS/Department/27-Athletics/portal/Track">Track &amp; Field</a></div>
          	<div>Palo Alto HS: <a href="http://paly.slaney.org/">XC/Track</a></div>
          	<div>Santa Clara HS: <a href="http://www.schsrunning.com/">XC/Track</a></div>
          	<div>Saratoga HS: <a href="http://saratogaathletics.org/boys_cross_country">Boys XC</a> | <a href="http://saratogaathletics.org/girls_cross_country">Girls XC</a> | <a href="http://saratogaathletics.org/boys_track">Boys Track</a> | <a href="http://saratogaathletics.org/girls_track">Girls Track</a></div>
          	<div>Wilcox HS: <a href="http://waltvzwil.tripod.com/">XC/Track</a></div>         	
        </p>
      </div>
{% include "footer.html" %}
    </div>
  </body>
</html>

