<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SCHS XC Runners</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script>
    var genderId = {{gId}};
        
	$(function(){
		$.ajax({
			url: '/getRunners',
			type: 'GET',
			data: {
				"genderId": genderId,
			},
			success: function(res){							    				
				var resultsObj = JSON.parse(res);
				var count = resultsObj.length
				var genderStr = (genderId && genderId == 3) ? 'Female' : 'Male'
				$('.text-muted').text(genderStr + ' Runners (' + count + ')');

				$.each(resultsObj,function(index, value){
				    var nameStr = value.LastName + ', ' + value.FirstName + ' ... ' + value.Years
				    var link = "runner?rId=" + value.RunnerId
					$('.runners').append("<div><a href='" + link + "'>" + nameStr + "</a></div>");
				});
			},
			error: function(error){
				console.log(error);
			}
		});
	});
    </script>
  </head>
  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"></h3>
      </div>
      
      <div class="row marketing">
        <div class="col-lg-6">
          <p class=runners>
          </p>
        </div>
      </div>
        
      <footer class="footer">
        <p>&copy; Cal Workouts 2017</p>
      </footer>
    </div>
  </body>
</html>

