<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS XC Top Team Course Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/utils.js"></script>
    <script>
    var cId = {{cId}};
    var gId = {{gId}};
    var li = {{limit}};
    var urlParams = parseURL();
    var courseId = cId ? cId : urlParams.cId;
    var genderId = gId ? gId : urlParams.gId;
    var limit = li ? li : urlParams.limit;
        
	$(function(){
		$.ajax({
			url: '/getTopTeamCourseResults',
			type: 'GET',
			data: {
				"courseId": courseId,
				"genderId": genderId,
				"limit": limit
			},
			success: function(res){
				var div = $('<div>')
				    .attr('class', 'list-group')
				    .append($('<a>')
				        .attr('class', 'list-group-item active')
				        .append($('<h3>')
				            .attr('class', 'list-group-item-heading'),
				            $('<p>')
				            .attr('class', 'list-group-item-text')));
							    				
				var resultsObj = JSON.parse(res);
				var results = '';
				limit = resultsObj.length
				$.each(resultsObj,function(index, value){
				    var resultStr = value.Rank + '. ' + value.Year
				    var timeStr = value.TeamTimeCalc + ' - ' + value.TeamAvgIndTimeCalc + ' - ' + value.Spread
					results = $(div).clone();
					$(results).find('h3').text(resultStr + ' - ' + timeStr);
					$(results).find('a').attr('href', '/raceResults?raceId=' + value.RaceId + '&gId=' + genderId);
					
					var competitorTimes = ''
					for (i in value.CompetitorTimes) {
						competitorTimes += "<div>" + value.CompetitorTimes[i] + "</div>"
					}
					
					$(results).find('p').append(competitorTimes);
					$('.jumbotron').append(results);
				});
				getCourseInfo();
			},
			error: function(error){
				console.log(error);
			}
		});
	});
	
	function getCourseInfo(){
		$.ajax({
			url: '/getCourseInfo',
			type: 'GET',
			data: {
				"courseId": courseId
			},
			success: function(res){
				var resultsObj = JSON.parse(res);
				var courseObj = resultsObj[0]
				var genderStr = (genderId && genderId == 3) ? 'Girls' : 'Boys'
				var courseStr = courseObj.CourseName + ' (' + courseObj.CourseDistance + 'M)'
				var topStr = limit > 0 ? 'Top ' + limit + ' Team' : 'No Team Results for'
				var titleStr =  topStr + ' ' + genderStr + ' - ' + courseStr
				$('.text-muted').text(titleStr);
			},
			error: function(error){
				console.log(error);
			}
		});
	}
    </script>
  </head>
  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"></h3>
      </div>

      <div style="text-align:center"><h3>Year - Total Time - Avg Time - Spread</h3></div>
      
      <div class="jumbotron">
      
      </div>

      <footer class="footer">
        <p>&copy; Cal Workouts 2017</p>
      </footer>
    </div>
  </body>
</html>

