<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS XC Top Individual Course Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/utils.js"></script>
    <script>
    var cId = {{cId}};
    var gId = {{gId}};
    var li = {{limit}};
    var urlParams = parseURL();
    var courseId = cId && cId != 0 ? cId : urlParams.cId;
    var genderId = gId && gId != 0 ? gId : urlParams.gId;
    var limit = li && li != 0 ? li : urlParams.limit;
    var grade = urlParams.grade;
            
	$(function(){
		$.ajax({
			url: '/getTopCourseResults',
			type: 'GET',
			data: {
				"courseId": courseId,
				"genderId": genderId,
				"limit": limit,
				"grade": grade
			},
			success: function(res){
				var div = $('<div>')
				    .attr('class', 'list-group')
				    .append($('<a>')
				        .attr('class', 'list-group-item active')
				        .append($('<h4>')
				            .attr('class', 'list-group-item-heading'),
				            $('<p>')
				            .attr('class', 'list-group-item-text')));
							    				
				var resultsObj = JSON.parse(res);
				var results = '';
				limit = resultsObj.length
				$.each(resultsObj,function(index, value){
				    var resultStr = value.Rank + '. ' + value.FirstName + ' ' + value.LastName + ' (' + value.Year + ')'
				    var timeStr = value.Time + ' (' + value.Pace + ') - ' + value.Grade + 'th grade'
					results = $(div).clone();
					$(results).find('a').attr('href', '/competitor?cId='+ value.CompetitorId);
					$(results).find('h4').text(resultStr);
					$(results).find('p').text(timeStr);
					$('.jumbotron').append(results);
				});
				getCourseInfo();
			},
			error: function(error){
				console.log(error);
			}
		});
	});
	
	function getCourseInfo(){
		$.ajax({
			url: '/getCourseInfo',
			type: 'GET',
			data: {
				"courseId": courseId
			},
			success: function(res){
				var resultsObj = JSON.parse(res);
				var courseObj = resultsObj[0]
				var genderStr = (genderId && genderId == 3) ? 'Girls' : 'Boys'
				var courseStr = courseObj.CourseName + ' (' + courseObj.CourseDistance + 'M)'
				var gradeStr = grade == 9 ? 'Freshman ' : (grade == 10 ? 'Sophomore ' : (grade == 11 ? 'Junior ' : (grade == 12 ? 'Senior ' : '')))
				var topStr = limit > 0 ? 'Top ' + limit : 'No Results for'
				var titleStr =  topStr + ' ' + gradeStr + genderStr + ' - ' + courseStr
				$('.text-muted').text(titleStr);
			},
			error: function(error){
				console.log(error);
			}
		});
	}
    </script>
    <style>
    	.jumbotron p {margin-bottom: 0px;font-size:18px;}
	</style>
  </head>
  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"></h3>
      </div>

      <div class="jumbotron">

      </div>

      <footer class="footer">
        <p>&copy; Cal Workouts 2018</p>
      </footer>
    </div>
  </body>
</html>

