<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS XC Videos: Crystal Springs Alumni Race</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/jumbotron-narrow.css">
    <link rel="stylesheet" href="/static/css/fixed-header.css">
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script>
      $(function(){
        var xcHomeLink = $('<a>');
        $(xcHomeLink).attr('href', '/santa-clara-high-cross-country');
        $(xcHomeLink).text('SCHS Cross Country');
        $('.breadcrumb').append(xcHomeLink);
        $('.breadcrumb').append(' / ');

        var videosLink = $('<a>');
        $(videosLink).attr('href', '/santa-clara-high-cross-country/videos/');
        $(videosLink).text('Videos');
        $('.breadcrumb').append(videosLink);
        var titleStr = 'Crystal Springs Alumni Race'
        $('.breadcrumb').append(' / ' + titleStr);

        $('.text-muted').text('SCHS XC Videos: ' + titleStr);
      })

    	$(function(){
    		var videos = ["yDG5khQ_l1c"]
    		var dates = ["07/21/2012"]
    		var races = ["1st"]
			for (index = 0; index < videos.length; index++) {
				var video = videos[index];
				var date = dates[index];
				var race = races[index];
   				$('.jumbotron').append(
   					'<h4>' + race + ' Annual Race - ' + date + '</h4>'
   					+ '<iframe width="560" height="315" src="https://www.youtube.com/embed/' + video + '?rel=0" '
   					+ 'frameborder="0" allowfullscreen></iframe>'    			
    			);
			}
		});
    </script>
    <style>
      .jumbotron {margin-top:185px;}
  </style>
  </head>
  <body>
{% include "/common/container-fh-nav-bc-title.html" %}
  </body>
</html>

