
    <div class="dropdown-medium" onclick="void(0)">
      <span class="dropbtn">Varsity Girls &#9660;</span>
      <div class="dropdown-content-medium">
        <div class="dropdown-indent2">
          <a href="/santa-clara-high-cross-country/awards/timeline/varsity-girls">Timeline</a><br/>
          <a href="/santa-clara-high-cross-country/awards/varsity-girls-most-valuable-runner/">Most Valuable Runner</a><br/>
          <a href="/santa-clara-high-cross-country/awards/varsity-girls-most-improved/">Most Improved</a><br/>
        </div>
      </div>
    </div>
    <div class="dropdown-medium" onclick="void(0)">
      <span class="dropbtn">Varsity Boys &#9660;</span>
      <div class="dropdown-content-medium">
        <div class="dropdown-indent2">
          <a href="/santa-clara-high-cross-country/awards/timeline/varsity-boys">Timeline</a><br/>
          <a href="/santa-clara-high-cross-country/awards/varsity-boys-most-valuable-runner/">Most Valuable Runner</a><br/>
          <a href="/santa-clara-high-cross-country/awards/varsity-boys-most-improved/">Most Improved</a><br/>
        </div>
      </div>
    </div>
    <div class="dropdown-medium" onclick="void(0)">
      <span class="dropbtn">Junior Varsity Girls &#9660;</span>
      <div class="dropdown-content-medium">
        <div class="dropdown-indent2">
          <a href="/santa-clara-high-cross-country/awards/timeline/junior-varsity-girls">Timeline</a><br/>
          <a href="/santa-clara-high-cross-country/awards/junior-varsity-girls-most-valuable-runner/">Most Valuable Runner</a><br/>
          <a href="/santa-clara-high-cross-country/awards/junior-varsity-girls-most-improved/">Most Improved</a><br/>
        </div>
      </div>
    </div>
    <div class="dropdown-medium" onclick="void(0)">
      <span class="dropbtn">Frosh/Soph Boys &#9660;</span>
      <div class="dropdown-content-medium">
        <div class="dropdown-indent2">
          <a href="/santa-clara-high-cross-country/awards/timeline/frosh-soph-boys">Timeline</a><br/>
          <a href="/santa-clara-high-cross-country/awards/frosh-soph-boys-most-valuable-runner/">Most Valuable Runner</a><br/>
          <a href="/santa-clara-high-cross-country/awards/frosh-soph-boys-most-improved/">Most Improved</a><br/>
        </div>
      </div>
    </div>
    <div class="dropdown-medium" onclick="void(0)">
      <span class="dropbtn">Combined &#9660;</span>
      <div class="dropdown-content-medium">
        <div class="dropdown-indent2">
          <a href="/santa-clara-high-cross-country/awards/timeline/">Timeline</a><br/>
          <a href="/santa-clara-high-cross-country/awards/most-valuable-runner/">Most Valuable Runner</a><br/>
          <a href="/santa-clara-high-cross-country/awards/most-improved/">Most Improved</a><br/>
        </div>
      </div>
    </div>
