<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS XC Award</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../../../static/css/signup.css" rel="stylesheet">
    <script src="../../../static/js/jquery-1.11.2.js"></script>
    <script src="../../../static/js/utils.js"></script>
    <script>
    var aId = {{awardId}};
    var sId = {{squadId}};
    var urlParams = parseURL();
    var awardId = aId || aId == 0 ? aId : urlParams.awardId;
    var squadId = sId || sId == 0 ? sId : urlParams.squadId;

	$(function(){
		$.ajax({
			url: '/getAwardById',
			type: 'GET',
			data: {
				"awardId": awardId,
				"squadId": squadId,
			},
			success: function(res){
				var div = $('<div>')
				    .attr('class', 'list-group')
				    .append($('<a>')
				        .attr('class', 'list-group-item active')
				        .append($('<p>')
				            .attr('class', 'list-group-item-text')));
							    				
				var resultsObj = JSON.parse(res);
				var results = '';
				var squadStr = '';
				var awardStr = '';
				var count = resultsObj.length
				$.each(resultsObj,function(index, value){
					squadStr = value.Squad
					awardStr = value.Award
					var infoStr = ''
					if (awardStr.endsWith('(Co-MVP)')) {
						infoStr += ' (Co-MVP)'
					}
					if (squadId == 0) {
						infoStr += ' (' + value.Squad + ')'
					}
					var nameStr =  value.FirstName + ' ' + value.LastName
				    var resultStr = value.Year + ': ' + nameStr + infoStr
					results = $(div).clone();
					$(results).find('a').attr('href', '/xcRunner?rId='+ value.RunnerId);
					$(results).find('p').text(resultStr);
					$('.jumbotron').append(results);
				});
				awardStr = awardStr.replace('Co-','')
				squadStr = squadId == 0 ? 'All Athletes' : squadStr;
				$('.text-muted').text(awardStr + ' - ' + squadStr + ' (' + count + ')');
				$(document).ready(function() {
					document.title = (squadId == 0 ? '' : squadStr + ' ') + awardStr + ' - ' + document.title;
				});
			},
			error: function(error){
				console.log(error);
			}
		});
	});
    </script>
    <style>
    	.jumbotron p {margin-bottom: 0px;}
	</style>
  </head>
  <body>
{% include "xc/body.html" %}
  </body>
</html>

