<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109364959-1');
  </script>
    <title>SCHS Cross Country Photos</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/jumbotron-narrow.css">
    <link rel="stylesheet" href="/static/css/fixed-header.css">
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script>
    $(function(){
      var xcHomeLink = $('<a>');
      $(xcHomeLink).attr('href', '/santa-clara-high-cross-country');
      $(xcHomeLink).text('SCHS Cross Country');
      $('.breadcrumb').append(xcHomeLink);
      var titleStr = 'Awards'
      $('.breadcrumb').append(' / ' + titleStr);
      $('.text-muted').text('SCHS Cross Country ' + titleStr);
    })
    </script>
  </head>
  <body>
    <div class="container">
{% include "/common/fh-nav-bc-title.html" %}
      <div class="non-fixed-content-bc row marketing">
        <div class="col-xs-6">
          <p>
            <h4>Varsity Girls</h4>
            <h4>&raquo; 
              <a href="/santa-clara-high-cross-country/awards/timeline/varsity-girls">Timeline</a>
            </h4>
            <h4>&raquo; 
              <a href="/santa-clara-high-cross-country/awards/varsity-girls-most-valuable-runner/">Most Valuable Runner</a>
            </h4>
            <h4>&raquo; 
              <a href="/santa-clara-high-cross-country/awards/varsity-girls-most-improved/">Most Improved</a>
            </h4>
          </p>
          <p>
            <h4>Junior Varsity Girls</h4>
            <h4>&raquo; 
              <a href="/santa-clara-high-cross-country/awards/timeline/junior-varsity-girls">Timeline</a>
            </h4>
            <h4>&raquo; 
              <a href="/santa-clara-high-cross-country/awards/junior-varsity-girls-most-valuable-runner/">Most Valuable Runner</a>
            </h4>
            <h4>&raquo; 
              <a href="/santa-clara-high-cross-country/awards/junior-varsity-girls-most-improved/">Most Improved</a>
            </h4>
          </p>
          <p>
            <h4>All Athletes Combined</h4>
            <h4>&raquo; 
              <a href="/santa-clara-high-cross-country/awards/timeline/">Timeline</a>
            </h4>
            <h4>&raquo; 
              <a href="/santa-clara-high-cross-country/awards/most-valuable-runner/">Most Valuable Runner</a>
            </h4>
            <h4>&raquo; 
              <a href="/santa-clara-high-cross-country/awards/most-improved/">Most Improved</a>
            </h4>
          </p>
        </div>
        <div class="col-xs-6">
          <p>
            <h4>Varsity Boys</h4>
            <h4>&raquo; 
              <a href="/santa-clara-high-cross-country/awards/timeline/varsity-boys">Timeline</a>
            </h4>
            <h4>&raquo; 
              <a href="/santa-clara-high-cross-country/awards/varsity-boys-most-valuable-runner/">Most Valuable Runner</a>
            </h4>
            <h4>&raquo; 
              <a href="/santa-clara-high-cross-country/awards/varsity-boys-most-improved/">Most Improved</a>
            </h4>
          </p>
          <p>
            <h4>Freshman / Sophomore Boys</h4>
            <h4>&raquo; 
              <a href="/santa-clara-high-cross-country/awards/timeline/frosh-soph-boys">Timeline</a>
            </h4>
            <h4>&raquo; 
              <a href="/santa-clara-high-cross-country/awards/frosh-soph-boys-most-valuable-runner/">Most Valuable Runner</a>
            </h4>
            <h4>&raquo; 
              <a href="/santa-clara-high-cross-country/awards/frosh-soph-boys-most-improved/">Most Improved</a>
            </h4>
          </p>
        </div>
      </div>
{% include "/common/footer.html" %}
    </div>
  </body>
</html>

