<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109364959-1');
  </script>
    <title>SCHS Cross Country Photos</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/jumbotron-narrow.css">
    <link rel="stylesheet" href="/static/css/fixed-header.css">
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script>
    $(function(){
      var xcHomeLink = $('<a>');
      $(xcHomeLink).attr('href', '/santa-clara-high-cross-country');
      $(xcHomeLink).text('SCHS Cross Country');
      $('.breadcrumb').append(xcHomeLink);
      var titleStr = 'Awards'
      $('.breadcrumb').append(' / ' + titleStr);
      $('.text-muted').text('SCHS Cross Country ' + titleStr);
    })
    </script>
  </head>
  <body>
    <div class="container">
{% include "/common/fh-nav-bc-title.html" %}
      <div class="non-fixed-content-bc row marketing">
        <div class="col-xs-6">
          <h4>Timeline</h4>
          <div>
            <h5>&raquo; <a href="/santa-clara-high-cross-country/awards/timeline/">All</a></h5>
            <h5>&raquo; <a href="/santa-clara-high-cross-country/awards/timeline/varsity-girls">Varsity Girls</a></h5>
            <h5>&raquo; <a href="/santa-clara-high-cross-country/awards/timeline/varsity-boys">Varsity Boys</a></h5>
            <h5>&raquo; <a href="/santa-clara-high-cross-country/awards/timeline/junior-varsity-girls">Junior Varsity Girls</a></h5>
            <h5>&raquo; <a href="/santa-clara-high-cross-country/awards/timeline/frosh-soph-boys">Freshman / Sophomore Boys</a></h5>
          </div>
          <div>&nbsp;</div>
          <h4>Most Valuable Runner</h4>
          <div>
            <h5>&raquo; <a href="/santa-clara-high-cross-country/awards/most-valuable-runner/">All</a></h5>
            <h5>&raquo; <a href="/santa-clara-high-cross-country/awards/varsity-girls-most-valuable-runner/">Varsity Girls</a></h5>
            <h5>&raquo; <a href="/santa-clara-high-cross-country/awards/varsity-boys-most-valuable-runner/">Varsity Boys</a></h5>
            <h5>&raquo; <a href="/santa-clara-high-cross-country/awards/junior-varsity-girls-most-valuable-runner/">Junior Varsity Girls</a></h5>
            <h5>&raquo; <a href="/santa-clara-high-cross-country/awards/frosh-soph-boys-most-valuable-runner/">Freshman / Sophomore Boys</a></h5>
          </div>
          <div>&nbsp;</div>
          <h4>Most Improved</h4>
          <div>
            <h5>&raquo; <a href="/santa-clara-high-cross-country/awards/most-improved/">All</a></h5>
            <h5>&raquo; <a href="/santa-clara-high-cross-country/awards/varsity-girls-most-improved/">Varsity Girls</a></h5>
            <h5>&raquo; <a href="/santa-clara-high-cross-country/awards/varsity-boys-most-improved/">Varsity Boys</a></h5>
            <h5>&raquo; <a href="/santa-clara-high-cross-country/awards/junior-varsity-girls-most-improved/">Junior Varsity Girls</a></h5>
            <h5>&raquo; <a href="/santa-clara-high-cross-country/awards/frosh-soph-boys-most-improved/">Freshman / Sophomore Boys</a></h5>
          </div>
        </div>
      </div>
{% include "/common/footer.html" %}
    </div>
  </body>
</html>

