<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109364959-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109364959-1');
	</script>
    <title>SCHS Track &amp; Field Coaches Timeline</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/jumbotron-narrow.css">
    <link rel="stylesheet" href="/static/css/fixed-header.css">
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script src="/static/js/utils.js"></script>
    <script>
    var ctIds = '{{coachTypeIds}}';
    var urlParams = parseURL();
    var coachTypeIds = ctIds ? ctIds : urlParams.coachTypeIds;

	$(function(){
		var trackHomeLink = $('<a>');
		$(trackHomeLink).attr('href', '/santa-clara-high-track-and-field');
		$(trackHomeLink).text('SCHS Track & Field');
		$('.breadcrumb').append(trackHomeLink);
		$('.breadcrumb').append(' / ');

		var coachesLink = $('<a>');
		$(coachesLink).attr('href', '/santa-clara-high-track-and-field/coaches/');
		$(coachesLink).text('Coaches');
		$('.breadcrumb').append(coachesLink);

		var titleStr = 'Timeline';
		$('.breadcrumb').append(' / ' + titleStr);
		$('.text-muted').text('SCHS Track & Field Coaches ' + titleStr);
	})

	$(function(){
		$.ajax({
			url: '/getCoachTimeline',
			type: 'GET',
			data: {
				"coachTypeIds": coachTypeIds,
			},
			success: function(res){
				var div = $('<div>')
				    .attr('class', 'list-group')
				    .append($('<a>')
				        .attr('class', 'list-group-item active')
				        .append($('<p>')
				            .attr('class', 'list-group-item-text')));
				var resultsObj = JSON.parse(res);
				var results = '';
				$.each(resultsObj,function(index, value){
				    var resultStr = value.Year + ': ' + value.Coaches.replace('), ', '),<br/>');
					results = $(div).clone();
					$(results).find('p').append(resultStr);
					$(results).find('a').attr('href', '/santa-clara-high-track-and-field/season/'+ value.Year);
					$('.jumbotron').append(results);
				});
			},
			error: function(error){
				console.log(error);
			}
		});
	});
    </script>
    <style>
	  .jumbotron {margin-top:185px;}
      .jumbotron p {margin-bottom: 0px;}
	</style>
  </head>
  <body>
{% include "/common/container-fh-nav-bc-title.html" %}
  </body>
</html>

